certifi==2018.11.29
Django>=2.1.2
pytz==2018.9
pyyaml>=4.2b1
wincertstore==0.2
django-autocomplete-light==3.3.2
django-debug-toolbar==1.11
django-haystack>=2.7.0
django-haystack-elasticsearch>=0.1.0
django-widget-tweaks>=1.4.1
django-queryset-csv>=1.0.0
docutils>=0.12
elasticsearch-dsl>=2.0.0,<3.0.0
elasticsearch>=2.0.0,<3.0.0
django-bootstrap-datepicker-plus==3.0.5
selenium>=3.11.0
lxml>=4.2.2
django-taggit>=0.23.0
-e git+https://github.com/bennylope/django-taggit-labels.git#egg=django_taggit_labels
fuzzywuzzy>=0.17.0
