COMPOSE_PATH_SEPARATOR=;
# production environment:
#    COMPOSE_FILE=docker/docker-compose.yaml;docker/docker-compose.override.yaml
#    FACTOTUM_SECRET_KEY=
#    FACTOTUM_WS_SECRET_KEY=
#    MEDIA_MOUNT=
#    SQL_PASSWORD=
# development environment...
#     COMPOSE_FILE=docker/docker-compose.yaml;docker/docker-compose.dev.override.yaml;docker/docker-compose.dev.override.enforcevars.yaml
#     SQL_PASSWORD=
#     SQL_USER=
# MySQL development environment...
#     COMPOSE_FILE=docker/docker-compose.yaml;docker/docker-compose.dev.override.yaml;docker/docker-compose.mysql.override.yaml
COMPOSE_FILE=

##########################
# Granular configuration #
##########################
# These allow you to override defaults
# For a full description of each variable, see:
# https://github.com/HumanExposure/factotum/wiki/Configuration
# ALLOWED_HOSTS=
# CHROMEDRIVER_PATH=
# DEBUG=
# DELETE_INDEX_SCHEDULE=
# ELASTICSEARCH_HOST=
# ELASTICSEARCH_PORT=
# ES_MEMORY_LIMIT=
# FACTOTUM_ALLOWED_HOSTS=
# FACTOTUM_BRANCH=
# FACTOTUM_DEBUG=
# FACTOTUM_ELASTIC_BRANCH=
# FACTOTUM_GUNICORN_OPTS=
# FACTOTUM_PORT=
# FACTOTUM_SECRET_KEY=
# FACTOTUM_WS_ALLOWED_HOSTS=
# FACTOTUM_WS_BRANCH=
# FACTOTUM_WS_DEBUG=
# FACTOTUM_WS_GUNICORN_OPTS=
# FACTOTUM_WS_PORT=
# FACTOTUM_WS_SECRET_KEY=
# GUNICORN_OPTS=
# KIBANA_PORT=
# LS_MEMORY_LIMIT=
# MAX_UPLOAD_SIZE=
# MEDIA_MOUNT=
# PROD=
# QUERY_LOG_DATABASE=
# REINDEX_SCHEDULE=
# SECRET_KEY=
# SQL_DATABASE=
# SQL_HOST=
# SQL_PASSWORD=
# SQL_PORT=
# SQL_USER=
