COMPOSE_PATH_SEPARATOR=;

# production environment:
#    COMPOSE_FILE=docker/docker-compose.yaml;docker/docker-compose.override.yaml
#    SQL_PASSWORD=
#    FACTOTUM_SECRET_KEY=
#    FACTOTUM_WS_SECRET_KEY=
#    MEDIA_MOUNT=

# development environment...
#     COMPOSE_FILE=docker/docker-compose.yaml;docker/docker-compose.dev.override.yaml
#     SQL_USER=root
#     SQL_PASSWORD=

# MySQL development environment...
#     COMPOSE_FILE=docker/docker-compose.yaml;docker/docker-compose.dev.override.yaml;docker/docker-compose.mysql.override.yaml

COMPOSE_FILE=
