{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Data Sources{% endblock %}
{% block content %}

<h1 class="col-sm-12">
    <span>Data Sources</span>
    <a class="btn btn-primary float-lg-right" role="button" href="{% url "data_source_new" %}">New Data Source</a>
</h1>
<table class="table table-striped table-bordered dataTable no-footer table-sm" id="sources">
  <thead class="table-primary">
      <th>Name</th>
      <th>Registered</th>
      <th>Uploaded</th>
      <th>Priority</th>
      <th>State</th>
      <th></th>
  </thead>
  <tbody>
  {% for data_source, form in object_list %}
    <tr>
      <td>
        <a title="details"
           href="{% url "data_source_detail" data_source.id %}"> {{ data_source.title }}
         </a>
      </td>
      <td>{{ data_source.registered | floatformat:0}} %</td>
      <td>{{ data_source.uploaded | floatformat:0 }} %</td>
      <td>
        <form method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" value={{ data_source.pk }} name="ds_pk" />
          {{ form.as_p }}
        </form>
      </td>
      <td>{{ data_source.get_state_display }}</td>
      <td class="float-sm-center">
        <div class="btn-group">
          <a class="btn btn-success btn-sm" role="button" title="edit"
             href="{% url "data_source_edit" data_source.id %}">
            <span class="oi oi-pencil"></span> </a>
          <a class="btn btn-danger btn-sm" role="button" title="delete"
             href="{% url "data_source_delete" data_source.id %}">
            <span class="oi oi-trash"></span> </a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(function () {
      var table = $('#sources').DataTable({
      "lengthMenu": [ 25, 50, 75, 100 ], // change number of records shown
      "columnDefs": [
          {
              "targets": 5, // sixth column is edit/delete links
              "orderable": false
          },
          {
              "orderDataType": "dom-select",
              "targets": 3, // third column is select input
              "type": "string",
          },
      ],
      dom:"<'row'<'col-md-4 form-inline'l><'col-md-4 form-inline'f><'col-md-4'B>>" +
          "<'row'<'col-sm-12'tr>>" +
          "<'row'<'col-sm-5'i><'col-sm-7'p>>", // order the control divs
      buttons: [{
        extend: 'csv',
        text: 'Download CSV',
        title: 'Data_Sources_Factotum',
        exportOptions : {
          columns: [ 0, 1, 2, 3, 4 ],
          format: {
            body: function( data, row, col, node ) {
              if (col == 3) {
                return table
                  .cell( {row: row, column: col} )
                  .nodes()
                  .to$()
                  .find(':selected')
                  .text()
               } else {
                  return table
                    .cell( {row: row, column: col} )
                    .nodes()
                    .to$()
                    .text()
                    .replace(/\n/g, '')
                }
              }
            }
          },
        }]
      });
    });
    // this grabs the val out of the select tag (Priority) in the form for sorting
    $.fn.dataTable.ext.order['dom-select'] = function (settings, col) {
    return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
        return $('select', td).val();
    });
  };

  </script>
{% endblock %}
