{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}

<h1>
  <span>{{ object.title }}</span>
  <div class="btn-group float-lg-right" role="group" aria-label="Datasource Modification">
    <a class="btn btn-info btn-sm" role="button" title="list" href="{% url "data_source_list" %}">
      <span class="oi oi-list"></span> </a>
    <a class="btn btn-success btn-sm" role="button" title="edit" href="{% url "data_source_edit" object.id %}">
      <span class="oi oi-pencil"></span> </a>
    <a class="btn btn-danger btn-sm" role="button" title="delete"
       href="{% url "data_source_delete" object.id %}">
      <span class="oi oi-trash"></span> </a>
  </div>
</h1>

<dl class="row">
  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9">{{ object.description }}</dd>
  <dt class="col-sm-3"><abbr title="Uniform Resource Locator">url</abbr></dt>
  <dd class="col-sm-9">
      <a href="{{ object.url }}" target="_blank">{{ object.url }}</a>
  </dd>
  <dt class="col-sm-3">Type</dt>
  <dd class="col-sm-9">{{ object.type }}</dd>
  <dt class="col-sm-3">Priority</dt>
  <dd class="col-sm-9">
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form }}
     </form>
  </dd>
  <dt class="col-sm-3">State</dt>
  <dd class="col-sm-9">{{ object.get_state_display }}</dd>
  <dt class="col-sm-3">Estimated Records</dt>
  <dd class="col-sm-9">{{ object.estimated_records | intcomma }}</dd>
  <dt class="col-sm-3">Created</dt>
  <dd class="col-sm-9">{{ object.created_at }}</dd>
  {% if object.updated_at %}
    <dt class="col-sm-3">Last updated</dt>
    <dd class="col-sm-9">{{ object.updated_at }}</dd>
  {% endif %}
</dl>

<h3><span>Data Groups</span>
  <a class="btn btn-primary btn-sm float-lg-right" role="button" title="create"
  href="{% url "data_group_new" %}"><span class="oi "></span>New Data Group</a>
</h3>
<table class="table table-sm table-bordered table-striped">
    <thead class="thead-inverse">
    <th>Name</th>
    <th>Downloaded by</th>
    <th>Downloaded at</th>
    <th>Script URL</th>
    <th>
    </th>
    </thead>
    <tbody>
    {% for data_group in datagroup_list %}
      <tr>
        <td>{{ data_group.name }}</td>
        <td>{{ data_group.downloaded_by }}</td>
        <td>{{ data_group.downloaded_at }}</td>
        <td>
          <a href="{{ data_group.extraction_script }}" title="Link to {{ data_group.name }}">{{ data_group.extraction_script }}</a>
        </td>
        <td class="float-sm-right">
          <div class="btn-group">
          <a class="btn btn-info btn-sm" role="button" title="details"
             href="{% url "data_group_detail" data_group.id %}">
            <span class="oi oi-info"></span> </a>
          <a class="btn btn-success btn-sm" role="button" title="edit"
             href="{% url "data_group_edit" data_group.id %}">
            <span class="oi oi-pencil"></span> </a>
          <a class="btn btn-danger btn-sm" role="button" title="delete"
             href="{% url "data_group_delete" data_group.id %}">
            <span class="oi oi-trash"></span> </a>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
