{% extends 'core/base.html' %}
{% load staticfiles %}

{% block nav %}
<div class="nav-item active">
  <div class="dropdown  allow-focus">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      CODE menu<span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="accordion" id="codeAccordion">
          {% for group in groups %}
          <div class="card">
            <div class="card-header-sm bg-light" id="headingOne">
              <h4>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#dg-{{group.code}}" aria-expanded="true" aria-controls="collapseOne">
                    <span class="dot mr-1 dot-dg-{{ group.code }}"><small><b>{{ group.code }}</b></small></span>
                      <b>{{group.title}}</b>
                </button>
              </h4>
            </div>
            <div id="dg-{{group.code}}" class="collapse {% if group.code == 'CO' %} show {% endif %}" aria-labelledby="headingOne" data-parent="#codeAccordion">
              <div class="card-body">
                  <table class="table table-sm table-bordered text-center">
                      <thead class="bg-light">
                        <th class="text-center">code</th>
                        <th class="text-center">title</th>
                      </thead>
                      <tbody>
                        {% for doc_type in group.codes %}
                        <tr>
                          <td>{{doc_type.code}}</td>
                          <td>{{doc_type.title}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
          {% endfor %} 
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
    <h2 class="col-sm-12">
        <span name="title">{{ header }}</span>
    </h2>

  {% if field_error %}
  <p class="form-control is-invalid">CSV column headers are incorrect for upload.
     {{field_error}}, should read {{good_fields}}</p>
  {% endif %}

  {% if line_errors %}
  <p class="form-control is-invalid">CSV has bad data in row/s:
    <br>
     {% for error in line_errors %}
        row {{error.0}}: {{error.1}}
        <br>
     {% endfor %}
     Please fix this before uploading.</p>
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include 'core/bs4_form.html' with form=form colspan='col-6'%}
            <button type="submit" class="btn btn-primary">Submit</button>
            {# This template can be accessed from multiple places #}
            <a class="btn btn-secondary" href={% if form.referer %}
                                              "{{ form.referer }}"
                                              {% else %}
                                              "{% url 'data_group_list' %}"
                                              {% endif %}
                                              name='cancel'>Cancel</a>
        </form>
        <br>
        <a id="reg" href="{% url 'registered_records.csv' 0 %}" class="btn btn-secondary">
          <span class="fa fa-file-csv"></span>&nbsp;Registered Records CSV Template
        </a>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">

      </div>
    </div>


  </div>

{% endblock %}

{% block js %}
    <script src="{% static 'bootstrap_datepicker_plus/js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'bootstrap_datepicker_plus/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'bootstrap_datepicker_plus/js/datepicker-widget.js' %}"></script>
    <script src="{% static 'js/data_group_create.js' %}"></script>
{% endblock %}

{% block css %}
    <link href="{% static 'bootstrap_datepicker_plus/css/bootstrap-datetimepicker.css' %}" type="text/css"
          media="all" rel="stylesheet" />
    <link href="{% static 'bootstrap_datepicker_plus/css/datepicker-widget.css' %}" type="text/css"
          media="all" rel="stylesheet" />
{% endblock %}
