{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}

    <h1>
        <span>{{ object.name }}</span>
        <div class="btn-group float-lg-right" role="group" aria-label="Data Group Modification">
            <a class="btn btn-info btn-sm" role="button" title="list" href="{% url "data_group_list" %}">
                <span class="oi oi-list"></span> </a>
            <a class="btn btn-success btn-sm" role="button" title="edit" href="{% url "data_group_edit" object.id %}">
                <span class="oi oi-pencil"></span> </a>
            <a class="btn btn-danger btn-sm" role="button" title="delete"
               href="{% url "data_group_delete" object.id %}">
                <span class="oi oi-trash"></span> </a>
        </div>
    </h1>

    <dl class="row">
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">{{ object.description }}</dd>
        <dt class="col-sm-3"><abbr title="Uniform Resource Locator">url</abbr></dt>
        <dd class="col-sm-9">
            <a href="{{ object.url }}" target="_blank">{{ object.url }}</a>
        </dd>
        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-9">{{ object.type }}</dd>
        <dt class="col-sm-3">State</dt>
        <dd class="col-sm-9">{{ object.get_state_display }}</dd>
        <dt class="col-sm-3">Estimated Records</dt>
        <dd class="col-sm-9">{{ object.estimated_records | intcomma }}</dd>
        <dt class="col-sm-3">Created</dt>
        <dd class="col-sm-9">{{ object.created_at }}</dd>
        {% if object.updated_at %}
            <dt class="col-sm-3">Last updated</dt>
            <dd class="col-sm-9">{{ object.updated_at }}</dd>
        {% endif %}
    </dl>



{% endblock %}


