{% extends 'core/base.html' %}
{% block title %}Data Group Diagnostic Report{% endblock %}
{% block content %}

    <h1>
        <span>Data Group Diagnostic Report</span>
    </h1>

    <table class="table table-sm table-bordered table-striped">
        <thead class="table-primary">
        <th>ID</th>
        <th>Name</th>
        <th>fs_id</th>
        <th>Resolved <code>csv_url</code></th>
        <th><code>zip_url</code></th>
        <th>get_dg_folder()</th>
        
        
        </thead>
        <tbody>
        {% for data_group in datagroups %}
            <tr>
                <td>{{ data_group.id }}</td>
                <td>{{ data_group.name }}</td>
                <td>{{ data_group.fs_id}}</td>
                <td>
                        {% if data_group.csv_url %}
                    <a href=/{{data_group.csv_url}} >{{ data_group.csv_url}} </a> 
                        {% else %}
                        No file found at &ldquo;{{data_group.csv.name}}&rdquo;.</span>
                        {% endif %}
                
                </td>
                <td>{{ data_group.zip_url }}</td>
                <td>{{ data_group.get_dg_folder}}</td>


            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
