{% extends 'core/base.html' %}
{% block title %}Data Group Diagnostic Report{% endblock %}
{% block content %}

    <h1>
        <span>Data Group Diagnostic Report</span>
    </h1>

    <table class="table table-sm table-bordered table-striped">
        <thead class="table-primary">
        <th>ID</th>
        <th>Name</th>
        <th><code>fs_id</code></th>
        <th>Resolved <code>dg_folder</code></th>
        <th>Resolved <code>zip_url</code></th>
        

        </thead>
        <tbody>
        {% for data_group in datagroups %}
            <tr>
                <td>{{ data_group.id }}</td>
                <td>{{ data_group.name }}</td>
                <td>{{ data_group.fs_id}}</td>
                <td>
                    {% if data_group.dg_folder %}
                        {{ data_group.dg_folder}} 
                    {% else %}
                        No folder found at &ldquo;{{data_group.get_name_as_slug}}&rdquo; 
                        or &ldquo;{{data_group.fs_id}}&rdquo;.</span>
                    {% endif %}
                
                </td>

                <td>
                        {% if data_group.zip_url %}
                    <a href=/{{data_group.zip_url}} >{{ data_group.zip_url}} </a> 
                        {% else %}
                        No zip file found in &ldquo;{{data_group.get_name_as_slug}}&rdquo; 
                        or &ldquo;{{data_group.fs_id}}&rdquo;.</span>
                        {% endif %}
                
                </td>
                


            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
