{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
    <h1 class="col-sm-12">
        <span name="title">{{ doc.title }}</span>
    </h1>
    <dl class="row col-sm-12">
        <dt class="col-sm-3">File Name</dt>
        <dd class="col-sm-9">{{ doc.get_abstract_filename }}</dd>
        <dt class="col-sm-3">URL</dt>
        <dd class="col-sm-9">{{ doc.url }}</dd>
        {% if doc.matched %}
        <dt class="col-sm-3">PDF</dt>
            <dd class="col-sm-9">
                <a href="{{ doc.pdf_url }}"
                    title="Link to {{ doc.get_abstract_filename }}" target="_blank">{{ doc.title }}</a>
            </dd>
        {% endif %}
        <dt class="col-sm-3">Document Type</dt>
        <dd class="col-sm-9">{{ doc.document_type }}</dd>
        <dt class="col-sm-3">Raw Category</dt>
        <dd class="col-sm-9">{{ doc.raw_category }}</dd>
        <dt class="col-sm-3">Data Group</dt>
        <dd class="col-sm-9">
            <a title="Data Group"
                href="{% url 'data_group_detail' doc.data_group.id %}"> {{ doc.data_group }}
            </a>
        </dd>

    </dl>
{% endblock %}
