{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}


{% block errors %}
  {% if err %}
    <div class="bg-warning text-white">
      There were no matching records in the selected directory.
    </div>
  {% endif %}

  {% if ext_err %}
    <div class="bg-danger text-white">
      {% for fn, message in ext_err.items %}
        {% for col, msg in message.items %}
          <p style="margin:0;padding:0;">Error {% if fn == 'every' %}in header
                                                {% else %}on line {{ fn }}
                                               {% endif %}:
              {% if not col == '__all__' %}Column "{{ col }}"{% endif %}
            {{ msg.0 }} </p>
        {% endfor %}
      {% endfor %}
    </div>
    <br>
  {% endif %}
{% endblock %}

{% block content %}
    <h1 class="col-sm-12">
        <span name="title">{{ datagroup.name }}</span>
        <div class="btn-group float-lg-right" role="group" aria-label="Data Group Modification">
            <a class="btn btn-info btn-sm" role="button" title="list" href="{% url "data_group_list" %}">
                <span class="oi oi-list"></span> </a>
            <a class="btn btn-success btn-sm" role="button" title="edit"
               href="{% url "data_group_edit" datagroup.id %}">
                <span class="oi oi-pencil"></span> </a>
            <a class="btn btn-danger btn-sm" role="button" title="delete"
               href="{% url "data_group_delete" datagroup.id %}">
                <span class="oi oi-trash"></span> </a>
        </div>
    </h1>
    <dl class="row col-sm-12">
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">{{ datagroup.description }}</dd>
        <dt class="col-sm-3">Downloaded by</dt>
        <dd class="col-sm-9">{{ datagroup.downloaded_by }}</dd>
        <dt class="col-sm-3">Date Downloaded</dt>
        <dd class="col-sm-9">{{ datagroup.downloaded_at }}</dd>
        <dt class="col-sm-3">
            <abbr title="Script source repository">Scraper Script URL</abbr>
        </dt>
        <dd class="col-sm-9">
            <a href="{{ datagroup.download_script.url }}" target="_blank">
                {{ datagroup.download_script }}
            </a>
        </dd>
        <dt class="col-sm-3">Data Source</dt>
        <dd class="col-sm-9">{{ datagroup.data_source }}</dd>
        {% if datagroup.updated_at %}
            <dt class="col-sm-3">Last updated</dt>
            <dd class="col-sm-9">{{ datagroup.updated_at }}</dd>
        {% endif %}
    </dl>
    <div class="col-sm-12">
        <button type="button" class="btn btn-secondary" onclick="location.href = '/media/{{ datagroup.csv }}';">
            <span class="oi oi-spreadsheet"></span> Download Registered CSV
        </button>
        {% if not inc_upload %}
            <div class="col-md-4 btn-group border rounded float-right">
                <form enctype="multipart/form-data" action="" method="post">
                    <h5 align="center">Upload data group PDFs:</h5>
                    {% csrf_token %}
                    <input type="file" id="files" class="btn btn-light" name="multifiles" webkitdirectory multiple>
                    <input type="submit" class="btn btn-primary" name="upload" value="Upload">
                </form>
            </div>
        {% endif %}
        <button class="btn btn-secondary" onclick="location.href = '/{{ datagroup.zip_file }}';"
                {% if datagroup.matched_docs == 0 %}disabled{% endif %}>
            <span class="oi oi-data-transfer-download"></span> Download All PDF Documents
        </button>
<br>
    <br>
    {% if include_extract %}
      <div class="col-sm-12">
        <h5>Work with uploaded documents:</h5>

            <div class="col-md-4 btn-group border rounded"  style="text-align:center">
                <form enctype="multipart/form-data" action="" method="post">
                    <h5 align="center">Extraction Script:</h5>
                    {% csrf_token %}
                    <select name="script_selection">
                      {% for script in scripts %}
                      <option value="{{ script.pk }}">{{ script.title }}</option>
                      {% endfor %}
                    </select>
                    <br>
                    <input type="file" accept=".csv" class="form-control btn btn-light" name="extract_file">
                    <br>
                    <input type="submit" class="btn btn-primary" name="extract_button" disabled>
                </form>
            </div>
        <a id="xx" href="" class="btn btn-secondary"
           {% if not doc.matched %}disabled{% endif %}><span class="oi oi-spreadsheet"></span>Extracted Text CSV Template</a>
      </div>
      <table class="table" id="extract" style="display:none;">
          <thead class="table-primary">
          {% for field in extract_fieldnames %}
            <th>{{ field }}</th>
          {% endfor %}
          </thead>
          <tbody>
          {% for doc in documents %}
              <tr>
                  {% if doc.matched and not doc.extracted %}
                      <td>{{ doc.pk }}</td>
                      <td>{{ doc.filename }}</td>
                  {% endif %}
              </tr>
          {% endfor %}
          </tbody>
      </table>
    {% endif %}


        {% if documents %}
            <br>
            <br>
            <h4>{{ datagroup.registered_docs }} documents registered, {{ datagroup.matched_docs }} matched</h4>
            </div>
            <table class="table table-sm table-bordered table-striped table-hover" id="d-docs">
                <thead class="table-primary">
                <th>Title</th>
                <th>URL</th>
                <th>Product Category</th>
                <th>Matched</th>
                <th>Extracted</th>
                </thead>
                <tbody>
                {% for doc in documents %}
                    <tr>
                        {% if doc.matched %}
                            <td>
                                <a href="/media/{{ datagroup.dgurl }}/pdf/{{ doc.filename }}"
                                   title="Link to {{ doc.filename }}" target="_blank">{{ doc.title }}</a>
                            </td>
                        {% else %}
                            <td>{{ doc.title }}</td>
                        {% endif %}
                        <td>
                            <a href="{{ doc.url }}" title="Link to {{ doc.title }}">
                                {{ doc.url }}
                            </a>
                        </td>
                        <td>{{ doc.product_category }}</td>
                        <td align="center">
                          {% if doc.matched %}
                          <span class="oi oi-circle-check" style="color:green;"></span>
                          <p hidden>1</p>  <!-- for sorting DataTable -->
                        {% else %}
                          <span class="oi oi-circle-x" style="color:red;"></span>
                          {% endif %}
                        </td>
                        <td align="center">
                          {% if doc.extracted %}
                            <span class="oi oi-circle-check" style="color:green;"></span>
                            <p hidden>1</p>  <!-- for sorting DataTable -->
                          {% else %}
                            <span class="oi oi-circle-x" style="color:red;"></span>
                          {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    <br>
    <div class=".col-md-4">
        <ul class="list-group pre-scrollable" style="max-height: 30vh">
            {% for docfile in doclist %}
                <li class="list-group-item"><a href="/media/{{ datagroup.id }}/{{ docfile }}">{{ docfile }}</a></li>
            {% endfor %}
        </ul>
    </div>
<input type="hidden" id="dg_name" name="variable" value="{{ datagroup.dgurl }}">


{% if documents.has_other_pages %}
  <ul class="pagination">
    {% if documents.has_previous %}
      <li><a href="?page={{ documents.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in documents.paginator.page_range %}
      {% if documents.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if documents.has_next %}
      <li><a href="?page={{ documents.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% if is_paginated %}
  <ul class="pagination">
    {% if documents.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if documents.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if documents.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
{% block js %}
  <script src="{% static 'js/data_group_detail.js' %}"></script>
{% endblock %}
