{% extends 'core/base.html' %}
{% load staticfiles %}

{% block nav %}
<div class="nav-item active">
  <div class="dropdown  allow-focus">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      CODE menu<span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="accordion" id="codeAccordion">
          {% for grouptype in grouptypes %}
          <div class="card">
            <div class="card-header-sm bg-light" id="headingOne">
              <h4>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#dg-{{grouptype.code}}" aria-expanded="true" aria-controls="collapseOne">
                    <span class="dot mr-1 dot-dg-{{ grouptype.code }}"><small><b>{{ grouptype.code }}</b></small></span>
                      <b>{{grouptype.title}}</b>
                </button>
              </h4>
            </div>
            <div id="dg-{{grouptype.code}}" class="collapse {% if grouptype.code == 'CO' %} show {% endif %}" aria-labelledby="headingOne" data-parent="#codeAccordion">
              <div class="card-body">
                  <table class="table table-sm table-bordered text-center">
                      <thead class="bg-light">
                        <th class="text-center">code</th>
                        <th class="text-center">title</th>
                      </thead>
                      <tbody>
                        {% for doc_type in grouptype.codes %}
                        <tr>
                          <td>{{doc_type.code}}</td>
                          <td>{{doc_type.title}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
          {% endfor %} 
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
    <h2 class="col-sm-12">
        <span name="title">
          Create New Data Group For Data Source "{{ datasource }}"
        </span>
    </h2>

  {% if field_error %}
  <p class="form-control is-invalid">CSV column headers are incorrect for upload.
     {{field_error}}, should read {{good_fields}}</p>
  {% endif %}

    <div class="row">
      <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include 'core/bs4_form.html' with form=form colspan='col-6'%}
            {% if form.instance.pk %}
            <div class="form-group col-6">
                <label class="required" for="id_csv">
                  Register Records CSV File:
                </label>
                <a href="/{{ media }}{{ form.instance.csv }}"
                   target="_blank">
                   {{ form.instance.csv_filename }}
                   <i class="far fa-file" aria-hidden="true"></i>
                </a>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
            <a class="btn btn-secondary" href={% if form.referer %}
                                              "{{ form.referer }}"
                                              {% else %}
                                              "{% url 'data_group_list' %}"
                                              {% endif %}
                                              name='cancel'>Cancel</a>
        </form>
        <br>
        {% if not form.instance.pk %}
        <a id="reg" 
          href="{% url 'download_registered_datadocuments' 0 %}" 
          class="btn btn-secondary">
          <span class="fa fa-file-csv"></span>
          &nbsp;Registered Records CSV Template
        </a>
        {% endif %}
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
      </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'bootstrap_datepicker_plus/js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'bootstrap_datepicker_plus/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'bootstrap_datepicker_plus/js/datepicker-widget.js' %}"></script>
    <script src="{% static 'js/dashboard/datagroup_create.js' %}"></script>
{% endblock %}

{% block css %}
    <link href="{% static 'bootstrap_datepicker_plus/css/bootstrap-datetimepicker.css' %}" type="text/css"
          media="all" rel="stylesheet" />
    <link href="{% static 'bootstrap_datepicker_plus/css/datepicker-widget.css' %}" type="text/css"
          media="all" rel="stylesheet" />
{% endblock %}
