{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}


{% block errors %}
  {% if err %}
  <div class="bg-warning text-white">
    There were no matching records in the selected directory.
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
      <span>{{ datagroup.name }}</span>
      <div class="btn-group float-lg-right" role="group" aria-label="Data Group Modification">
          <a class="btn btn-info btn-sm" role="button" title="list" href="{% url "data_group_list" %}">
              <span class="oi oi-list"></span> </a>
          <a class="btn btn-success btn-sm" role="button" title="edit" href="{% url "data_group_edit" datagroup.id %}">
              <span class="oi oi-pencil"></span> </a>
          <a class="btn btn-danger btn-sm" role="button" title="delete"
             href="{% url "data_group_delete" datagroup.id %}">
              <span class="oi oi-trash"></span> </a>
      </div>
  </h1>
  <dl class="row">
      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">{{ datagroup.description }}</dd>
      <dt class="col-sm-3">Downloaded by</dt>
      <dd class="col-sm-9">{{ datagroup.downloaded_by }}</dd>
      <dt class="col-sm-3">Date Downloaded</dt>
      <dd class="col-sm-9">{{ datagroup.downloaded_at }}</dd>
      <dt class="col-sm-3">
        <abbr title="Script source repository">Scraper Script URL</abbr>
      </dt>
      <dd class="col-sm-9">
          <a href="{{ datagroup.extraction_script }}" target="_blank">
            {{ datagroup.extraction_script }}
          </a>
      </dd>
      <dt class="col-sm-3">Data Source</dt>
      <dd class="col-sm-9">{{ datagroup.data_source }}</dd>
      {% if datagroup.updated_at %}
          <dt class="col-sm-3">Last updated</dt>
          <dd class="col-sm-9">{{ datagroup.updated_at }}</dd>
      {% endif %}
  </dl>

  <button type="button" class="btn btn-secondary" onclick="location.href = '/media/{{ datagroup.csv }}';">
      <span class="oi oi-spreadsheet"></span>  Download Registered CSV
  </button>
  {% if not inc_upload %}
  <div class=".col-md-4 btn-group border rounded float-right">
      <form enctype="multipart/form-data" action="" method="post">
          <h5 align="center">Upload data group PDFs:</h5>
          {% csrf_token %}
          <input type="file" id="files" class="btn btn-light" name="multifiles" webkitdirectory  multiple  >
          <input type="submit" class="btn btn-primary" name="upload" value="Upload">
      </form>
  </div>
  {% endif %}
  <button class="btn btn-secondary" onclick="location.href = '/{{ datagroup.zip_file }}';" {% if datagroup.matched_docs == 0 %}disabled{% endif %}>
        <span class="oi oi-data-transfer-download"></span>  Download All PDF Documents
  </button>
  {% if documents %}
  <br>
  <br>
  <h4>{{ documents|length }} documents registered, {{ datagroup.matched_docs }} matched</h4>
  <table class="table table-sm table-bordered table-striped table-hover">
    <thead class="thead-inverse">
    <th>Title</th>
    <th>URL</th>
    <th>Product Category</th>
    <th>Matched</th>
    <th>Extracted</th>
    </thead>
    <tbody>
    {% for doc in documents %}
      <tr>
        {% if doc.matched %}
        <td>
          <a href="/media/{{ datagroup.dgurl }}/pdf/{{ doc.filename }}" title="Link to {{ doc.filename }}" target = "_blank">{{ doc.title }}</a>
        </td>
        {% else %}
        <td>{{ doc.title }}</td>
        {% endif %}
        <td>
            <a href="{{ doc.url }}" title="Link to {{ doc.title }}">
              {{ doc.url }}
            </a>
        </td>
        <td>{{ doc.product_category }}</td>
        <td align="center"><input type="checkbox" name="vehicle" value="Bike" {% if doc.matched %}checked{% endif %}></td>
        <td align="center"><input type="checkbox" name="vehicle" value="Bike" {% if doc.extracted %}checked{% endif %}></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <br>
  <div class=".col-md-4">
      <ul class="list-group pre-scrollable" style="max-height: 30vh">
          {% for docfile in doclist %}
          <li class="list-group-item"><a href="/media/{{datagroup.id}}/{{ docfile }}">{{ docfile }}</a></li>
          {% endfor %}
      </ul>
  </div>

  <br>
  <br>
  <div class=".col-md-4">
    <h5>Work with uploaded documents:</h5>
    <button type="button" class="btn btn-secondary"  disabled><span class="oi oi-file"></span>Extracted Text CSV Template</button>
    <button type="button" class="btn btn-primary"  disabled>Upload Extracted Text</button>
    {% if documents %}
    <div class=".col-md-4">
        <span class="oi oi-file"></span><a href=/media/{{ datagroup.csv }}>Download Registered CSV</a>
    </div>
    {% endif %}
  </div>
  <br>
  <br>
{% endblock %}
