{% extends 'core/base.html' %}

{% block content %}

    <h1>
        <span>Data groups</span>
        <a class="btn btn-primary btn-sm float-lg-right" role="button" title="create"
        href="{% url "data_group_new" %}"><span class="oi "></span>New Data Group</a>
    </h1>

    <table class="table table-sm table-bordered table-striped">
        <thead class="thead-inverse">
        <th>Name</th>
        <th>Data Source</th>
        <th>Downloaded by</th>
        <th>Downloaded at</th>
        <th>Script URL</th>
        <th></th>
        </thead>
        <tbody>
        {% for data_group in object_list %}
            <tr>
                <td>{{ data_group.name }}</td>
                <td><a class="btn btn-info btn-sm" role="button" title="details"
                    href="{% url "data_source_detail" data_group.data_source.id %}">{{ data_group.data_source }} 
                     <span class="oi oi-info"></span> </a></td>
                <td>{{ data_group.downloaded_by }}</td>
                <td>{{ data_group.downloaded_at | date:"M d, Y" }}</td>
                <td>
                    <a href="{{ data_group.extraction_script }}" title="Link to {{ data_group.name }}">{{ data_group.extraction_script }}</a>
                </td>
                <td class="float-sm-right">
                        <div class="btn-group">
                        <a class="btn btn-info btn-sm" role="button" title="details"
                           href="{% url "data_group_detail" data_group.id %}">
                            <span class="oi oi-info"></span> </a>
                        <a class="btn btn-success btn-sm" role="button" title="edit"
                           href="{% url "data_group_edit" data_group.id %}">
                            <span class="oi oi-pencil"></span> </a>
                        <a class="btn btn-danger btn-sm" role="button" title="delete"
                           href="{% url "data_group_delete" data_group.id %}">
                            <span class="oi oi-trash"></span> </a>
                        </div>
                    </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
