{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}

  {% if field_error %}
  <p class="form-control is-invalid">CSV column headers are incorrect for upload.
     {{field_error}}, should read ['filename', 'title','product','url']</p>
  {% endif %}

  {% if line_errors %}
  <p class="form-control is-invalid">CSV is missing a <b>filename</b> in row/s:
     {% for error in line_errors %}
        {{error}}
     {% endfor %}
     Please fix this before uploading.</p>
  {% endif %}

    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% include 'core/bs4_form.html' with form=form %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" href="{% url 'data_group_list' %}">Cancel</a>
    </form>
    <br>
    <form method="get" action="{% static 'csv/register_records.csv' %}">
      <button type="button submit" class="btn btn-secondary">
          <span class="oi oi-file"></span>Registered Records CSV Template
      </button>
    </form>
{% endblock %}
