{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}'
{% load humanize %}

{% block content %}

<div class="card">
  <h3 class="card-header text-center">DataDocument: {{ doc.title }}</h3>
  <table class="table table-bordered">

    <tr>
      <th>Data Group</th>
      <td>
        <a title="Data Group"
            href="{% url 'data_group_detail' doc.data_group.id %}"> {{ doc.data_group }}
        </a>
      </td>
    </tr>
    <tr>
      <th>Product Category</th>
      <td>
        {{ doc.product_category }}
      </td>
    </tr>
    <tr>
      <th>URL</th>
      <td>
        {{ doc.url }}
      </td>
    </tr>
    {% if doc.matched %}
    <tr>
      <th>PDF</th>
      <td>
        <a href="/media/{{ doc.data_group.dgurl }}/pdf/{{ doc.filename }}"
            title="Link to {{ doc.filename }}" target="_blank">{{ doc.filename }}</a>
        <small><i>click to open PDF in new window</i></small>
      </td>
    </tr>
    {% endif %}
  </table>
</div>

{% if ext_form %}
<div class="card">
  <div class="card-header form-inline">
    <h3 class="text-center col-9">Habits and Practices</h3>
  <button type="button" id="btn-toggle-edit" data-toggle="button" class="btn btn-secondary" onclick="toggleChemicalEdit(true)">
          <span id="btn-toggle-label" class="oi oi-wrench"></span>Edit Extracted Chemicals
  </button>
  </div>
</div>
{% endif %}
{% endblock %}
