{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Chemical Detail{% endblock %}

{% block content %}

<h1>
    <span class='pr-1' data-toggle="tooltip" data-placement="right" title="Chemical Name">{{ substance|title }}
    </span>
</h1>
<h4>
    <span class='pr-1' data-toggle="tooltip" data-placement="right" title="View in COMPTOX">
        <a target="_blank" href="https://comptox.epa.gov/dashboard/dsstoxdb/results?search={{ substance.sid }}">
            {{ substance.sid }}
        </a>
    </span>
</h4>
<h4>
    <span class='pr-1' data-toggle="tooltip" data-placement="right" title="CAS">{{ substance.true_cas|title }}
    </span>
</h4>
<div class="container">
    <div class="row">
        <div class="col-5 p-0">
            <div class="card">
                <div class="card-header text-center">
                    <h5><b>PUCs</b></h5>
                    <small class="card-text font-italic">
                        General Category - Product Family - Product Type
                    </small>
                </div>
                <div class="accordion" id="puc-accordion">
                    {% for leaf in pucs.leaves %}
                    <div class="card">
                        <!-- Level 1 -->
                        <div class="card-header-sm bg-light">
                            <div class="text-left">
                                <button class="handle mr-2 btn btn-light shadow-none"
                                        data-toggle="collapse" 
                                        data-target="#puc-{{ leaf.value.pk }}">
                                    <i class="fas fa-chevron-circle-right icon-secondary"></i>
                                    <i class="fas fa-chevron-circle-down icon-secondary d-none"></i>
                                </button>
                                <b>{{ leaf }}</b>
                                <a href="{{ leaf.value.url }}" 
                                class="ml-2" 
                                title="PUC detail" 
                                data-toggle="tooltip" 
                                data-placement="top">
                                <i class="fas fa-info-circle icon-secondary"></i>
                                </a>
                                <span class="dot m-2 float-right text-center puc-link"
                                    data-gen-cat="{{ leaf }}">
                                    <small><b>{{ leaf.n_children }}</b></small>
                                </span>
                            </div>
                        </div>
                        <div id="puc-{{ leaf.value.pk }}" 
                            class="collapse">
                            <div class="card-body p-0 puc-link"
                                data-gen-cat="{{ leaf }}">
                            {% if leaf.leaves %}
                            <div class="accordion ml-3" id="accordion-{{ leaf.value.pk }}">
                                {% for leaflet in leaf.leaves %}
                                <div class="card">
                                    <!-- Level 2 -->
                                    <div class="card-header-sm bg-light">
                                        <div class="text-left">
                                            {% if leaflet.n_children %}
                                            <button class="handle mr-2 btn btn-light shadow-none"
                                                data-toggle="collapse" 
                                                data-target="#accordion-{{ leaflet.value.pk }}">
                                                <i class="fas fa-chevron-circle-right icon-secondary"></i>
                                                <i class="fas fa-chevron-circle-down icon-secondary d-none"></i>
                                            </button>
                                            {% else %}
                                            <button class="hidden btn" disabled>
                                                <i class="fas fa-chevron-circle-right"></i>
                                            </button>
                                            <span class="m-1"></span>
                                            {% endif %}
                                            <b>{{ leaflet }}</b>
                                            <a href="{{ leaflet.value.url }}" 
                                            class="ml-2" 
                                            title="PUC detail" 
                                            data-toggle="tooltip" 
                                            data-placement="top">
                                                <i class="fas fa-info-circle icon-secondary"></i>
                                            </a>
                                            {% if leaflet.n_children %}
                                            <span class="dot m-2 float-right text-center puc-link"
                                                data-gen-cat="{{ leaf }}">
                                                <small><b>{{ leaflet.n_children }}</b></small>
                                            </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div id="accordion-{{ leaflet.value.pk }}" 
                                        class="collapse">
                                        <div class="card-body p-0 puc-link"
                                            data-gen-cat="{{ leaf }}">
                                            {% if leaflet.leaves %}
                                            <div class="ml-3" id="accordion-{{ leaflet.value.pk }}">
                                                {% for needle in leaflet.leaves %}
                                                <div class="card">
                                                    <div class="card-header-sm bg-light">
                                                        <div class="text-left p-2 ml-2">
                                                            <span class="m-4"></span>
                                                            <b>{{ needle }}</b>
                                                            <a href="{{ needle.value.url }}" 
                                                                class="ml-2" 
                                                                title="PUC detail" 
                                                                data-toggle="tooltip" 
                                                                data-placement="top">
                                                                <i class="fas fa-info-circle icon-secondary"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    {% empty %}
                    <li class="list-group-item">
                        No PUCs are linked to this chemical
                    </li>
                    {% endfor %}
                </div>  
            </div>
        </div>
        <div class="col-7 pl-4 pr-0">
            <div class="bubble-chart" id="chart">
                <svg></svg>
            </div>
            <div class="row">
                <div class="btn-group p-2 ml-2" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" id="split">Split</button>
                    <button type="button" class="btn btn-secondary" id="combine">Combine</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% if tagDict|length > 0 %}
    &nbsp;<h6 class="text-left">CP keyword sets (and number of CP documents containing chemical connected to the set)</h6>
    {% for tags, count in tagDict.items %}
        <div class="pb-2 d-flex flex-row">
            <div class="pb-2 d-flex flex-column">
                <div class="p-2 m-1 border border-secondary rounded bg-light">
                {% for tag in tags %}
                    <span class="btn-sm border border-secondary bg-white">{{ tag }}</span>
                {% endfor %}
                <span class="dot dot-dg-HP float-right text-center ml-2"><small><b>{{ count }}</b></small></span>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    &nbsp;<h6 class="text-left">No CP keyword sets associated with this chemical</h6>
{% endif %}
{% endblock %}
{% block js %}
<script src="{% static 'js/d3_rick.min.js' %}"></script>
<script src="{% static 'js/dashboard/dsstox_detail.js' %}"></script>
<script src="{% static 'js/bubble_chart.js' %}"></script>
<script>
    d3v4.csv("{% url 'download_PUCs' %}?bubbles=True&dtxsid={{ substance.sid }}", function (error, data) {
      if (error) {
        console.error('Error getting or parsing the data.');
        throw error;
      }
      var chart = bubbleChart(625, 500, showLegend=false);
      d3v4.select('#chart').datum(data).call(chart);
    });
</script>
{% endblock %}
