  {% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}QA Chemical Presence for Datagroup {{datagroup.name}}{% endblock %}


{% block content %}
<h1 class="col-sm-12"><span class="oi oi-task" title="factotum" ></span>
QA Chemical Presence for Datagroup {{datagroup.name}}</h1>
<br>
<table class="table table-sm table-bordered table-striped table-sortable" id='extracted_text_table'>
    <thead class="table-primary">
        <tr>
            <th>Data Document</th>
            <th>Document Date</th>
            <th>QA Status</th>
        </tr>
    </thead>
    <tbody>
    {% for datadocument in datadocuments %}
      <tr>
        <td>
          <a href="{% url "data_document" datadocument.id %}"> {{ datadocument.filename }}
          </a>
        </td>
        <td>{{ datadocument.created_at }}</td>
        <td>
            {%  if datadocument.extractedtext %}
                {% if datadocument.extractedtext.qa_checked %}
                    Complete
                {%  else %}
                    <a class="btn btn-info btn-sm" role="button"
                       href="{% url "qa_extracted_cpccat" datadocument.extractedtext.pk %}"> Incomplete - Perform QA </a>
                {%  endif %}
            {% else %}
                Err: No ExtractedText object matches this DataDocument
            {% endif %}
          </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
{% block js %}
    <script src="{% static 'js/dashboard/qa_chemical_presence.js' %}"></script>
{% endblock %}
