{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/qa">QA</a></li>
      <li class="breadcrumb-item">
           <a href='{% url "extraction_script_qa" script.id %}'> {{ script }} </a>
    </li>
      <li class="breadcrumb-item active" aria-current="page">{{ doc.title }}</li>
    </ol>
  </nav>

{% if True %} 

  <div class="card">
                    <h3 class="card-header">{{ doc.title }}</h3>
                  
    <div class="card-body">  
        <dl class="row col-sm-12">
            <dt class="col-sm-3">File Name</dt>
            <dd class="col-sm-9">{{ doc.filename }}</dd>
            <dt class="col-sm-3">URL</dt>
            <dd class="col-sm-9">{{ doc.url }}</dd>
            {% if doc.matched %}
            <dt class="col-sm-3">PDF</dt>
                <dd class="col-sm-9">
                    <a href="/media/{{ doc.data_group.dgurl }}/pdf/{{ doc.filename }}"
                        title="Link to {{ doc.filename }}" target="_blank">{{ doc.title }}</a>
                </dd>
            {% endif %}
            <dt class="col-sm-3">Product Category</dt>
            <dd class="col-sm-9">{{ doc.product_category }}</dd>
            <dt class="col-sm-3">Data Group</dt>
            <dd class="col-sm-9">
                <a title="Data Group"
                    href="{% url 'data_group_detail' doc.data_group.id %}"> {{ doc.data_group }}
                </a>
            </dd>

        </dl>
        </div>
</div>
{% endif %}

<div class="card">
            <h3 class="card-header">Extracted Text</h3>
        <div class="card-body">
        <dl class="row col-sm-12">
                <dt class="col-sm-3">Record Type</dt>
                <dd class="col-sm-9">{{ extracted_text.record_type }}</dd>
                <dt class="col-sm-3">Product Name</dt>
                <dd class="col-sm-9">{{ extracted_text.prod_name }}</dd>
                <dt class="col-sm-3">Document Date</dt>
                <dd class="col-sm-9">{{ extracted_text.doc_date }}</dd>
                <dt class="col-sm-3">QA Status</dt>
                <dd class="col-sm-9">{{ extracted_text.get_qa_status_display }}</dd>
                <dt class="col-sm-3">QA Approval Date</dt>
                <dd class="col-sm-9">{{ extracted_text.qa_approved_date }}</dd>
                <dt class="col-sm-3">QA Approved By</dt>
                <dd class="col-sm-9">{{ extracted_text.qa_approved_by }}</dd>
            </dl>


            
            <a class="btn btn-warning " data-toggle="collapse" id="edit_toggle" href="#extract_form{{extracted_text.qa_notes}}">
                <span class="oi oi-wrench"></span>Edit Extracted Chemicals
            </a>
            <div id="qa_notes" class="col-md-12 border rounded collapse">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {% include 'core/bs4_form.html' %}
                    <input type="text" id="qa_notes" name="{{qa_notes}}"><br>
                    <input type="submit" class="btn btn-primary btn-sm" name="approve_edits" value="Submit">
                </form>
            </div>

                  <form method="post">
                        {% csrf_token %}
                        {{ chem_formset.management_form }}
                        {% include 'core/bs4_formset.html' with formset=chem_formset %}
                        {% if extracted_text.qa_checked %}
                        <button type = "submit" class="btn btn-primary disabled" role="button">Approve with edits</button>
                      {% else %}
                        <button type = "submit" class="btn btn-primary" role="button">Approve with edits</button>
                      {% endif %}
                      {% if extracted_text.qa_checked %}
                      <button type = "submit" class="btn btn-secondary disabled" role="button">Save edits without approving</button>
                    {% else %}
                      <button type = "submit" class="btn btn-secondary" role="button">Save edits without approving</button>
                    {% endif %}
                  </form>
                

                  {% if extracted_text.qa_checked %}
                    <a class="btn btn-success disabled" title="This extracted document has already been approved" href="{% url "extracted_text_approve" extracted_text.pk %}" role="button" aria-disabled="true">Approve</a>
                  {% else %}
                    <a class="btn btn-success" href="{% url "extracted_text_approve" extracted_text.pk %}" role="button">Approve</a>
                  {% endif %}
                  

                  {% if nextid > 0 %}
                    <a class="btn btn-warning" href="{% url "extracted_text_qa" nextid %}" role="button">Skip</a>
                  {% else %}
                    <button type="button" title="All the other documents in this QA group have been approved" class="btn btn-warning" aria-disabled="true" disabled>Skip</button>
                  {% endif %}
                  <a class="btn btn-primary" href="{% url "extraction_script_qa" script.id %}" role="button">Exit</a>
                  </form>

        </div>
        <p class="card-footer"> {{stats}}</p>
    </div>

{% endblock %}
{% block js %}
  <script type="text/javascript">
        window.onload = function() {
        window.open("/media/{{ doc.data_group.dgurl }}/pdf/{{ doc.filename }}",'pdf',' menubar=0, resizable=0,dependent=0,status=0,width=400,height=7000,left=10,top=10')
        }
    
  </script>
{% endblock %}
