{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/qa">QA</a></li>
      <li class="breadcrumb-item">
           <a href='{% url "extraction_script_qa" script.id %}'> {{ script }} </a>
    </li>
      <li class="breadcrumb-item active" aria-current="page">{{ doc.title }}</li>
    </ol>
  </nav>

{% if True %} 

  <div class="card">
                    <h3 class="card-header">{{ doc.title }}</h3>
                  
    <div class="card-body">  
        <dl class="row col-sm-12">
            <dt class="col-sm-3">File Name</dt>
            <dd class="col-sm-9">{{ doc.filename }}</dd>
            <dt class="col-sm-3">URL</dt>
            <dd class="col-sm-9">{{ doc.url }}</dd>
            {% if doc.matched %}
            <dt class="col-sm-3">PDF</dt>
                <dd class="col-sm-9">
                    <a href="/media/{{ doc.data_group.dgurl }}/pdf/{{ doc.filename }}"
                        title="Link to {{ doc.filename }}" target="_blank">{{ doc.title }}</a>
                </dd>
            {% endif %}
            <dt class="col-sm-3">Product Category</dt>
            <dd class="col-sm-9">{{ doc.product_category }}</dd>
            <dt class="col-sm-3">Data Group</dt>
            <dd class="col-sm-9">
                <a title="Data Group"
                    href="{% url 'data_group_detail' doc.data_group.id %}"> {{ doc.data_group }}
                </a>
            </dd>

        </dl>
        </div>
</div>
{% endif %}

<div class="card">
            <h3 class="card-header">Extracted Text</h3>
        <div class="card-body">
        <dl class="row col-sm-12">
                <dt class="col-sm-3">Record Type</dt>
                <dd class="col-sm-9">{{ extracted.record_type }}</dd>
                <dt class="col-sm-3">Product Name</dt>
                <dd class="col-sm-9">{{ extracted.prod_name }}</dd>
                <dt class="col-sm-3">Document Date</dt>
                <dd class="col-sm-9">{{ extracted.doc_date }}</dd>
                <dt class="col-sm-3">QA Status</dt>
                <dd class="col-sm-9">{{ extracted.get_qa_status_display }}</dd>
                <dt class="col-sm-3">QA Approval Date</dt>
                <dd class="col-sm-9">{{ extracted.qa_approved_date }}</dd>
                <dt class="col-sm-3">QA Approved By</dt>
                <dd class="col-sm-9">{{ extracted.qa_approved_by }}</dd>
            </dl>

                  <form method="post">
                        {% csrf_token %}
                        {{ chem_formset.management_form }}
                        <table class="table table-striped table-responsive no-footer table-sm" id="extractedchemicals">
                        <thead class="table-primary">
                                <th class="col-md-1">CAS</th>
                                <th  class="col-md-2">Chemical Name</th>
                                <th  class="col-md-1">raw_min_comp</th>
                                <th class="col-md-1">raw_max_comp</th>
                                <th class="col-md-2">Units</th>
                                <th class="col-md-2">Reported <br/>Functional Use</th>
                                <th>Weight Fraction Type</th>
                                <th>Ingredient<br/>Rank</th>
                                <th>Raw Central Comp</th>
                            </thead>
                        {% for chem_form in chem_formset %}
                        <tr class="chem-formset">
                            <td>
                            {{ chem_form.raw_cas }}
                            {% if chem_form.raw_cas.errors %}
                                {% for error in chem_form.raw_cas.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                            </td>
                            <td>
                            {{ chem_form.raw_chem_name }}
                            {% if chem_form.raw_chem_name.errors %}
                                {% for error in chem_form.raw_chem_name.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                            </td>
                            <td>
                            {{ chem_form.raw_min_comp }}
                            {% if chem_form.raw_min_comp.errors %}
                                {% for error in chem_form.raw_min_comp.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                            </td>
                            <td>
                            {{ chem_form.raw_max_comp }}
                            {% if chem_form.raw_max_comp.errors %}
                                {% for error in chem_form.raw_max_comp.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                            </td>
                            <td>
                            {{ chem_form.unit_type }}
                            {% if chem_form.unit_type.errors %}
                                {% for error in chem_form.unit_type.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                            </td>
                            <td>
                            {{ chem_form.report_funcuse }}
                            {% if chem_form.report_funcuse.errors %}
                                {% for error in chem_form.report_funcuse.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                            </td>
                            <td>
                            {{ chem_form.weight_fraction_type }}
                            {% if chem_form.weight_fraction_type.errors %}
                                {% for error in chem_form.weight_fraction_type.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                            </td>
                            <td>
                            {{ chem_form.ingredient_rank }}
                            {% if chem_form.ingredient_rank.errors %}
                                {% for error in chem_form.ingredient_rank.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                            </td>
                            <td>
                            {{ chem_form.raw_central_comp }}
                            {% if chem_form.raw_central_comp.errors %}
                                {% for error in chem_form.raw_central_comp.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                            </td>                                                        
                        </tr>
                    {% endfor %}
                    </table>

                    {% if chem_formset.non_form_errors %}
                        {% for error in chem_formset.non_form_errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                

                  {% if extracted.qa_checked %}
                  <a class="btn btn-success disabled" title="This extracted document has already been approved" href="{% url "extracted_text_approve" extracted.pk %}" role="button" aria-disabled="true">Approve</a>
                  {% else %}
                  <a class="btn btn-success" href="{% url "extracted_text_approve" extracted.pk %}" role="button">Approve</a>
                  {% endif %}
                  <button type = "submit" class="btn btn-primary" role="button">Approve with edits</button>
                  {% if nextid > 0 %}
                    <a class="btn btn-warning" href="{% url "extracted_text_qa" nextid %}" role="button">Skip</a>
                  {% else %}
                    <button type="button" title="All the other documents in this QA group have been approved" class="btn btn-warning" aria-disabled="true" disabled>Skip</button>
                  {% endif %}
                  <a class="btn btn-primary" href="{% url "extraction_script_qa" script.id %}" role="button">Exit</a>

        </div>
        <p class="card-footer"> {{stats}}</p>
    </div>

{% endblock %}
{% block js %}
  <script type="text/javascript">
        window.onload = function() {
        window.open("/media/{{ doc.data_group.dgurl }}/pdf/{{ doc.filename }}",'pdf',' menubar=0, resizable=0,dependent=0,status=0,width=400,height=7000,left=10,top=10')
        }
    
  </script>
{% endblock %}
