{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
<h1 class="col-sm-12"><span class="oi oi-task" title="factotum" ></span>
{{ extractionscript.title }}</h1>
<h3 class="col-sm-12"><span class="" title="factotum" ></span>
    QA Group: {{ qagroup }}</h3>
<br>
<table class="table table-sm table-bordered table-striped table-sortable" id='extracted_text_table'>
    <thead class="table-inverse">
        <th>ID</th>
        <th>Data Group</th>
        <th>Data Document</th>
        <th>Document Date</th>
        <th>Revision Number</th>
        <th>QA Checked</th>
    </thead>
    <tbody>
    {% for extractedtext in extractedtexts %}
      <tr>

        <td width="42">{{ extractedtext.id }}</td> <!-- added width for sort image -->
        <td>
          <a class="btn btn-info btn-sm" role="button" title="details"
            href="{% url "data_group_detail" extractedtext.data_document.data_group.id %}"> {{ extractedtext.data_document.data_group.name }}
          </a>
        </td>
        <td>{{ extractedtext.data_document }}</td>
        <td>{{ extractedtext.doc_date }}</td>
        <td>{{ extractedtext.rev_num }}</td>
        <td>
            <a class="btn btn-info btn-sm oi-task {% if extractedtext.qa_checked %} oi {% endif %}" role="button" title="check"
              href="{% url "extracted_text_qa" extractedtext.pk %}"> {{ extractedtext.qa_checked }}
            </a>
          </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(function () {
      var table = $('#extracted_text_table').DataTable({
      // "lengthMenu": [ 10, 25, 50, 75, 100 ], // change number of records shown

      dom:"<'row'<'col-md-4 form-inline'l><'col-md-4 form-inline'f>>" +
          "<'row'<'col-sm-12 text-center'tr>>" +
          "<'row'<'col-sm-5'i><'col-sm-7'p>>" // order the control divs
      });
    });
  </script>
{% endblock %}
