{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
<h1 class="col-sm-12"><span class="oi oi-task" title="factotum"></span>
QA Extraction Scripts</h1>
<br>
<table class="table table-striped table-bordered dataTable no-footer" id='extraction_script_table'>
    <thead class="table-primary">
        <th>Extraction Script</th>
        <th>Documents</th>
        <th>Percent QA Checked</th>
        <th></th>
    </thead>
    <tbody>
    {% for extraction_script in extraction_scripts %}
      <tr>
        <td>
            {% if extraction_script.url %}
            <a href="{{ extraction_script.url }}" title="Link to {{ extraction_script.title }}" id="{{extraction_script.id}}">{{ extraction_script.title }}</a>
            {% else %}
            {{ extraction_script.title }}
            {% endif %}
        </td>
        <td>{{ extraction_script.datadocument_count }}</td>
        <td>{% widthratio extraction_script.qa_complete_extractedtext_count extraction_script.datadocument_count 100 %}%</td>
        <td>
         {% if extraction_script.datadocument_count > 0 %}
          <a class="btn btn-info btn-sm" role="button" title="{{ extraction_script.qa_button_text }} on {{ extraction_script.title }}"
           href='{% url "extraction_script_qa" extraction_script.id %}'> {{ extraction_script.qa_button_text }}
         </a>
         {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
    <script src="{% static 'js/dashboard/qa_extraction_script_index.js' %}"></script>
{% endblock %}
