{% extends 'core/base.html' %}
{% load staticfiles %}'

{% load humanize %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}



{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/qa">QA</a></li>
      <li class="breadcrumb-item">
           <a href='{% url "extraction_script_qa" script.id %}'> {{ script }} </a>
    </li>
      <li class="breadcrumb-item active" aria-current="page">{{ doc.title }}</li>
    </ol>
  </nav>

{% if True %}

  <div class="card">
                    <p class="card-header">{{ doc.title }}</p>

    <div class="card-body">
        <dl class="row col-sm-12">
            <dt class="col-sm-3">File Name</dt>
            <dd class="col-sm-9">{{ doc.filename }}</dd>
            <dt class="col-sm-3">URL</dt>
            <dd class="col-sm-9">{{ doc.url }}</dd>
            {% if doc.matched %}
            <dt class="col-sm-3">PDF</dt>
                <dd class="col-sm-9">
                    <a href="/media/{{ doc.data_group.dgurl }}/pdf/{{ doc.filename }}"
                        title="Link to {{ doc.filename }}" target="_blank">{{ doc.title }}</a>
                </dd>
            {% endif %}
            <dt class="col-sm-3">Product Category</dt>
            <dd class="col-sm-9">{{ doc.product_category }}</dd>
            <dt class="col-sm-3">Data Group</dt>
            <dd class="col-sm-9">
                <a title="Data Group"
                    href="{% url 'data_group_detail' doc.data_group.id %}"> {{ doc.data_group }}
                </a>
            </dd>

        </dl>
        </div>
</div>
{% endif %}

<div class="row">
    <div class="col">
    <div class="card">
            <h3 class="card-header">Extracted Text</h3>
        <div class="card-body">

            {% if notesform.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in notesform.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
            {% endif %}

            <form method="post" >
                            {% csrf_token %}
                            <div class="row">
                                    <div class="col-10">
                                            {% if error %}
                                            <div class="form-group has-error">
                                                <span class="help-block">{{ error }}</span>
                                            </div>
                                            {% endif %}
                                            {% include 'core/bs4_form_dl.html' with form=notesform %}
                                        {{errors}}

                                    </div>
                                </div>

                    <div class="row" style="padding-top:10px;">
                      <div class="col-sm">
                      <button type="button" id="btn-toggle-edit" data-toggle="button" class="btn btn-secondary" onclick="toggleChemicalEdit(true)">
                              <span id="btn-toggle-label" class="oi oi-wrench"></span>Edit Extracted Chemicals
                      </button>

                      <button type = "submit" id="save_no_approval"   name="save_no_approval" class="btn btn-primary" role="button">Save edits</button>

                      </div>
                    </div>

                    <div class="row">
                            {{ chem_formset.management_form }}
                            {% include 'qa/qa_extracted_chemicals.html' with formset=chem_formset %}
                    </div>
                    <button type = "submit" id="approve" name="approve" class="btn btn-primary" role="button">Approve</button>

                    {% if nextid > 0 %}
                        <a class="btn btn-primary" href="{% url "extracted_text_qa" nextid %}" role="button">Skip</a>
                    {% else %}
                        <button type="button" title="All the other documents in this QA group have been approved" class="btn btn-primary" aria-disabled="true" disabled>Skip</button>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url "extraction_script_qa" script.id %}" role="button">Exit</a>
                  </form>

            </div>
        </div>
        <p class="card-footer"> {{stats}}</p>
    </div>
    </div>

{% endblock %}
{% block js %}
  <script type="text/javascript">
        window.onload = function() {
        window.open("/media/{{ doc.data_group.dgurl }}/pdf/{{ doc.filename }}",'pdf',' menubar=0, resizable=0,dependent=0,status=0,width=400,height=7000,left=10,top=10')
        toggleChemicalEdit(false);
        }

        function toggleChemicalEdit(enable=true) {
            // set the chemical data fields to editable
            // show the notes box
            if (enable)  {
                // enter edit mode
                $('#save_with_approval').removeClass('disabled');
                $('#save_no_approval').removeClass('disabled');
                $('#btn-toggle-edit').addClass('btn-warning');
                $('#btn-toggle-edit').attr("onclick","toggleChemicalEdit(false)");
                $('.chem-control').addClass('unlocked');
                $('.chem-control').prop('disabled', false);
                $('.extext-control').addClass('unlocked');
                $('.extext-control').prop('disabled', false);
            } else{
                // exit edit mode
                $('#btn-toggle-edit').attr("onclick","toggleChemicalEdit(true)");
                $('#save_with_approval').addClass('disabled');
                $('#save_no_approval').addClass('disabled');
                $('#btn-toggle-edit').removeClass('btn-warning');
                $('.chem-control').removeClass('unlocked');
                $('.chem-control').prop('disabled', true);
                $('.extext-control').removeClass('unlocked');
                $('.extext-control').prop('disabled', true);
            }
        }

  </script>
{% endblock %}
