{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
<h1 class="col-sm-12"><span class="fa fa-check-square" title="factotum"></span>
QA: Composition - Ext. Script</h1>
<br>

    <table class="table table-striped table-bordered dataTable no-footer" id='extraction_script_table'>
    <thead class="table-primary">
        <th>Extraction Script</th>
        <th>Extracted Text</th>
        <th>Percent QA Checked</th>
        <th>QA Summary</th>
        <th>QA Status</th>
    </thead>
    <tbody>
    {% for extraction_script in extraction_scripts %}
      <tr>
        <td>
            {% if extraction_script.url %}
                <a href="{{ extraction_script.url }}"
                   title="Link to {{ extraction_script.title }}" id="script-{{extraction_script.id}}">
                    {{ extraction_script.title }}
                </a>
            {% else %}
                 {{ extraction_script.title }}
            {% endif %}
        </td>
        <td id="docs-{{extraction_script.id}}">{{ extraction_script.extractedtext_count }}</td>
        <td id="pct-{{extraction_script.id}}">{{ extraction_script.percent_complete }}{{' '}}%</td>
        <td>
            <a href="{% url 'qa_extraction_script_summary' extraction_script.id %}"
               title="Link to {{ extraction_script.title }} Summary" id="{{extraction_script.id}}">
                <span class="fa fa-tasks"></span>
            </a>
        </td>
        <td id="qa-{{extraction_script.id}}">
         {% if extraction_script.extractedtext_count > 0 %}
            {% if not extraction_script.qa_button_text == "QA Complete" %}
              <a class="btn btn-primary btn-sm col-12" role="button"
                title="{{ extraction_script.qa_button_text }} on {{ extraction_script.title }}"
           href='{% url "qa_extraction_script" extraction_script.id %}'> {{ extraction_script.qa_button_text }}
                </a>
            {% else %}
              <a class="btn btn-light btn-sm col-12" disabled role="button">
                {{ extraction_script.qa_button_text }}</a>
            {% endif %}
         {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
    <script src="{% static 'js/dashboard/qa_extraction_script_index.js' %}"></script>
{% endblock %}
