{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}


<h1><span class="oi oi-task" title="factotum" aria-hidden="true"></span>
QA</h1>
<br>
<a class="btn btn-secondary float-lg-right" role="button" href="">Show QA-Complete Extraction Scripts</a>
<table class="table table-sm table-bordered table-striped table-sortable">
    <thead class="table-primary">
        <th>Extraction Script</th>
        <th>Documents</th>
        <th>Percent QA Checked</th>
    </thead>
    <tbody>
    {% for extraction_script in extraction_scripts %}
      <tr>
        <td>
            <a href="{% url "extraction_script_detail" extraction_script.id %}" title="Link to {{ extraction_script.title }}">{{ extraction_script.title }}</a>
        </td>
        <td>{{ extraction_script.get_document_count }}</td>
        <td>{{ extraction_script.get_pct_checked }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
