{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Get Data{% endblock %}

{% block content %}

<h1>Get Data</h1>

<div class="row">
    <div class="col-6">
        <h3 class="card-header">Downloads</h3>
        <ul class="list-group">
                <li class="list-group-item">
                    <p>Download all the Product Use Codes with their respective product counts:</p>
                    <a class="btn btn-primary ml-5 col-8" role="button" href="{% url "download_PUCs" %}">Download PUCs</a>
                </li>
                <li class="list-group-item">
                    <p>Download all the Product Use Code attributes and their definitions:</p>
                    <a class="btn btn-primary ml-5 col-8" role="button" href="{% url "download_PUCTags" %}">Download PUC Attributes</a>
                </li>
                <li class="list-group-item">
                    <p>Download all the list presence keywords and their definitions:</p>
                    <a class="btn btn-primary ml-5 col-8" role="button" href="{% url "download_LPKeywords" %}">Download List Presence Keywords</a>
                </li>
          </li>
      </ul> <!-- list-group -->
    </div> <!-- col-6 -->

    <div class="col-6">
        <h3 class="card-header">Summary Metrics by Chemical</h3>
        <ul class="list-group">
                <li class="list-group-item">
            <form action="{% url "upload_dtxsid_csv" %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
        <div>
            <label for="csv_file" class="control-label col-12">Upload a .csv of DTX SIDs to immediately download a summary table:</label><br>
            <div class="input-group col-12">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Choose File &hellip; <input type="file" style="display: none;" name="csv_file" id="csv_file" required>
                    </span>
                </label>
                <input type="text" class="form-control" readonly><br>
            </div>
        </div>
        <div class="col-9">
            <button class="btn btn-primary pl-2 pr-2" type="submit"><span class="fa fa-upload mr-2"></span>Upload</button>
            <a class="btn btn-secondary" href="{% url "get_data_dsstox_csv_template" %}" role="button">Download list template</a>
        </div>
        </form>
          </li>
      </ul> <!-- list-group -->



    </div> <!-- col-6-->
</div> <!-- row -->

<div class="row mt-4">
    <div class="col-12">
      <h3 class="card-header">Habits and Practices by PUC</h3>
        <ul class="list-group">
                <li class="list-group-item align-items-center">

<div class="text-center m-2">      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" id="btn-assign-puc" class="btn btn-primary">Submit</button>
      </form>
</div>

  {% if habits_and_practices %}
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
      {% for habit in habits_and_practices %}
        {% if habit.pk == first %}
          <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#habit-{{ habit.pk }}" role="tab" aria-controls="home" aria-selected="true"><b>{{ habit.product_surveyed }}</b></a>
        {% else %}
          <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#habit-{{ habit.pk }}" role="tab" aria-controls="home" aria-selected="false"><b>{{ habit.product_surveyed }}</b></a>
        {% endif %}
       </li>
      {% endfor %}
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      {% for habit in habits_and_practices %}
      <div class="tab-pane fade show text-center
      {% if habit.pk == first %}
        active
      {% endif %}" id="habit-{{ habit.pk }}" role="tabpanel">
      <label><b>Data Document:</b></label> <a href="/media/{{ habit.extracted_text.data_document.data_group.get_dg_folder }}/pdf/{{ habit.extracted_text.data_document.filename }}" target="_blank" title="Link to {{ habit.extracted_text.data_document.filename }}"><b>{{ habit.extracted_text.data_document }}</b></a> <br>
      <label><b>Product Surveyed:</b></label> {{ habit.product_surveyed }} <br>
      <label><b>Mass:</b></label> {{ habit.mass|floatformat:2|intcomma }} {{ habit.mass_unit }} <br>
      <label><b>Frequency:</b></label> {{ habit.frequency|floatformat:2|intcomma }} {{ habit.frequency_unit }} <br>
      <label><b>Duration:</b></label> {{ habit.duration|floatformat:2|intcomma }} {{ habit.duration_unit }} <br>
      <label><b>Prevalence:</b></label> {{ habit.prevalence }} <br>
      <label><b>Notes:</b></label> {{ habit.notes }} <br>
      <p style="text-decoration:underline;"><b>PUC/s</b></p>

      {% for puc in habit.PUCs.all %}
      <p class="btn disabled
          {% if puc.is_level_one %}
            puc-level-1
          {% elif puc.is_level_two %}
            puc-level-2
          {% elif puc.is_level_three %}
            puc-level-3
          {% endif %}
        ">{{ puc }}</p><br>
      {% endfor %}

      </div>
      {% endfor %}
    </div>
  </div>

  {% elif form.puc.value > ''  %}
      <div class="card-body">
          No Habits and Practices match this PUC
      </div>
  {% endif %}
          </li>
      </ul> <!-- list-group -->
    </div>
    </div>
{{ form.media }}
{% endblock %}

{% block js %}
  <script src="{% static 'js/dashboard/get_data.js' %}"></script>
{% endblock %}
