{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Get Data{% endblock %}
{% block content %}

<h1>Get Data: A resource for accessing exposure related data stored in Factotum</h1>

<div class="card">
    <h3 class="card-header">Report: Summary metrics by chemical</h3>
    <a id="reg" href="" class="btn btn-secondary">
        <span class="oi oi-spreadsheet"></span>&nbsp;DTXSID List Upload Template
    </a>
</div>

<div class="card">
    <h3 class="card-header">View Data: Habits and Practices parameters</h3>
</div>

<div class="card">
    <h3 class="card-header">Report: Another report not yet defined</h3>
</div>


{% endblock %}
