table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after {
 display:none;
}

table.dataTable thead .sorting_desc::after {
    display:none;
}

table.dataTable thead .sorting {
    background-image: url('../DataTables/DataTables-1.10.18/images/sort_both.png');
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_asc {
    background-image: url('../DataTables/DataTables-1.10.18/images/sort_asc.png');
    background-repeat: no-repeat;
    background-position: center right;
}

table.dataTable thead .sorting_desc {
    background-image: url('../DataTables/DataTables-1.10.18/images/sort_desc.png');
    background-repeat: no-repeat;
    background-position: center right;
}

.dataTables_paginate, .dt-buttons {
    float: right;
}

.dataTables_filter, .dataTables_length {
    display: inline;
}
