div.search-result-main{
    display: flex;
    justify-content: space-between;
    border-top:solid 1px #AEB6BF;
}
.search-result-main{margin-top: 1em;padding-top:0.5em;}

.search-result-meta li + li::before {
    content: " | ";
}

/* Used in the DataGroup list view */
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    color:white;
    }

/* ☺☺☺☺☺☺ feel free to make changes here ☺☺☺☺☺☺ */
.dot-dg-CO {
    background-color: #808000;
}
.dot-dg-HP {
    background-color: #469990;
}
.dot-dg-FU {
    background-color: #9A6324;
}
.dot-dg-CP {
    background-color: #911eb4;
}
.dot-dg-HH {
    background-color: #e6194b;
}
.dot-dg-SU {
    background-color: #000075;
}
.dot-dg-UN {
    background-color: #2F4F4F;
}

.factotum-control-row{
    padding-left: 1em;
    padding-top: .5em;
    border-width: .2rem;
    border: 1px solid #e9ecef;
}

.tooltip-inner {
	min-width: 100px;
	max-width: 100%; 
}