import sys

DATABASES = {
	'default': {
		# ...
		'HOST': '127.0.0.1',
		# ...
	}
}
if 'test' in sys.argv:
	DATABASES['default']['USER'] = 'root'
	DATABASES['default']['PASSWORD'] = 'up_to_you'
	DATABASES['default']['PORT'] = '3307'
