import sys

DATABASES = {
	'default': {
		# ...
		'HOST': '127.0.0.1',
		# ...
	}
}
if 'test' in sys.argv:
	DATABASES['default']['USER'] = 'root'
	DATABASES['default']['PASSWORD'] = 'up_to_you'
	DATABASES['default']['PORT'] = '3307'

HAYSTACK_CONNECTIONS = {
	'default': {
		# ...
		'URL': 'http://localhost:9202/',
		# ...
	},
	'test_index': {
		# ...
		'URL': 'http://localhost:9202/',
		# ...
	},
}
