.card-header {
    background-color: #ffffff
}

.slider-tick {
    width: 2px;
    background-image: linear-gradient(to bottom, #C9C9C9 0, #C5C5C5 100%);
}

.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
    margin-left: -1px
}

.tooltip.in {
    opacity: 1;
}

.slider.slider-disabled .slider-handle {
    background-color: #337ab7;
    background-image: -webkit-linear-gradient(top, #337ab7 0, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 0, #2e6da4 100%);
    background-image: linear-gradient(to bottom, #337ab7 0, #2e6da4 100%);
}

.slider.slider-disabled .slider-track {
    cursor: default;
}
