{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Bulk Assign Products to PUCs{% endblock %}

{% block errors %}
    {% if form.errors %}
        <ul class="user-msg error">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>
                        {% if field != '__all__' %}
                            <strong>{{ field.label }}:</strong>
                        {% endif %}
                        {{ error }}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{%  endblock %}

{% block content %}
    <h1>
        <span>Bulk Assign Products to PUCs</span>
        <span class="float-lg-right">
        <form class="search-form-container" action="" method="get" >
            <div class="icon-addon addon-lg">
                <input type="text" size="40" placeholder="Search For Products"
                       class="form-control" name="q" id="q" value="{{ q }}" autocomplete="off">
                <div id="selction-ajax"></div>
            </div>
        </form>
        </span>
    </h1>
    <form action='' method="post" >
    {% csrf_token %}

    {% if products %}
    <table class="table table-striped table-bordered dataTable no-footer table-sm" id="products">
      <thead class="table-primary">
          <tr>
              <th></th>
              <th>Product Title</th>
              <th>Brand Name</th>
              <th>pk</th>
          </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
            <td></td>
            <td><a href="{% url "product_detail" product.id %}"> {{ product.title }}</a></td>
            <td>{{ product.brand_name }}</td>
            <td>{{ product.pk }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <br><br>
        {{ form.id_pks }}
        <p>{{ form.puc.label_tag }} {{ form.puc }}</p>
        <button type="submit" id="btn-assign-puc" class="btn btn-primary">Submit</button>
    {% elif q > '' and full_p_count > 0 %}
        <br><br>
        <br><br>
        <p id="puc_result">The {{ full_p_count }} products matching "{{ q }}" are already associated with a PUC.</p>
    {% else %}
        <br><br>
        <br><br>
        <p>Locate products to associate with PUCs using the Search bar above.</p>
    {% endif %}
    </form>
{% endblock %}

{% block js %}
    <script src="{% static 'js/dashboard/bulk_product_puc.js' %}"></script>
    {{ form.media }}
{% endblock %}

{% block css %}
    <link href="{% static 'css/dashboard/bulk_product_puc.css' %}" type="text/css"
          media="all" rel="stylesheet" />
{% endblock %}
