{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}


<h1><span class="oi oi-wrench" title="factotum" aria-hidden="true"></span>
Link {{ document }} to Product</h1>
<br>

<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% include 'core/bs4_form.html' with form=form colspan='col-6' %}
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-secondary" href="{% url 'link_product_list' document.data_group.id %}">Cancel</a>
    <a class="btn btn-info btn-secondary" role="button" title="details"
     href="/media/{{ document.data_group.dgurl }}/pdf/{{ document.filename }}" target = "_blank">
    <span class="oi"></span>Open PDF</a>
</form>
{% endblock %}
