{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}


<h1><span class="oi oi-wrench" title="factotum" aria-hidden="true"></span>
Unlinked Document List</h1>
<br>
<table class="table table-sm table-bordered table-striped table-hover">
  <thead class="thead-inverse">
  <th>Title</th>
  <th>PDF</th>

  </thead>
  <tbody>
  {% for doc in documents %}
    <tr>
      {% if doc.matched %}
      <td>
        <a class="nav-link" href="{% url 'link_product_form' doc.id %}">{{ doc.title }}</a>
      </td>
      {% else %}
      <td>{{ doc.title }}</td>
      {% endif %}
      <td>
          <a class="btn btn-info btn-sm" role="button" title="details"
           href="/media/{{ doc.data_group.dgurl }}/pdf/{{ doc.filename }}" target = "_blank">
          <span class="oi"></span>Open PDF</a>
      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}
