{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
    <h1 class="col-sm-12">
        <span name="title">{{ product.title }}</span>
    </h1>
    <dl class="row col-sm-12">
        <dt class="col-sm-3">UPC</dt>
        <dd class="col-sm-9">{{ product.upc }}</dd>
        <dt class="col-sm-3">Product Use Category</dt>
        <dd class="col-sm-9" id='prod_cat'>{{ puc.id }}</dd>
        <dt class="col-sm-3">PUC Assignment Script</dt>
        <dd class="col-sm-9" id='puc_assigned_script'>{{ ptopuc.puc_assigned_script }}</dd>
        <dt class="col-sm-3">PUC Assigned By</dt>
        <dd class="col-sm-9" id='puc_assigned_usr'>{{ ptopuc.puc_assigned_usr }}</dd>
        <dt class="col-sm-3">PUC Assignment Date</dt>
        <dd class="col-sm-9" id='puc_assigned_time'>{{ ptopuc.puc_assigned_time }}</dd>
        <dt class="col-sm-3">Brand Name</dt>
        <dd class="col-sm-9">{{ product.brand_name }}</dd>
        <dt class="col-sm-3">Size</dt>
        <dd class="col-sm-9">{{ product.size }}</dd>
        <dt class="col-sm-3">Color</dt>
        <dd class="col-sm-9">{{ product.color }}</dd>
        <dt class="col-sm-3">Short Description</dt>
        <dd class="col-sm-9">{{ product.short_description }}</dd>
        <dt class="col-sm-3">Image</dt>
        <!-- not yet sure where images are being stored for products -->
        <dd class="col-sm-9"><img src="{{ product.medium_image }}" alt="Image not available"></dd>
    </dl>
{% endblock %}
