{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
    <h1 class="col">
        <span name="title">{{ product.title }}</span>
    </h1>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% include 'core/bs4_form.html' with form=form colspan='col-6' %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" href="{% url 'product_detail' pk=product.pk %}">Cancel</a>
    </form>
{% endblock %}
