{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}



<h1 class="col-sm-12">
    <span>Products</span>
</h1>
<table class="table table-striped table-bordered dataTable no-footer table-sm" id="products">
  <thead class="table-primary">
      <th>Title</th>
      <th>Brand Name</th>
      <th>PUC</th>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td><a href="{{ product.get_absolute_url }}" title="Link to product detail">{{ product.title }}</a></td>
      <td>{{ product.brand_name }}</td>
{#      <td>{{ product.get_uber_puc }}</td>#}
      <td>---</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/dashboard/product_list.js' %}"></script>
{% endblock %}
