{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Link Product {{ product.id }} to a PUC{% endblock %}

{% block content %}


<h1><span class="oi oi-wrench" title="factotum" aria-hidden="true"></span>Link Product To PUC</h1>
<br>
<h2>
  {{ product.title }}
</h2>
<div class="">
  {% if product.puc_set.all %}
    Currently assigned PUC: <a href="{% url 'puc_detail' pk=product.puc_set.first.pk %}">{{ product.puc_set.first }}</a>
  {% endif %}
</div>

<br>

<div>
    <form action='' method="post" >
    {% csrf_token %}
      {% for dd in product.datadocument_set.all %}
        <p>
          <span class="oi oi-file" title="pdf" ></span>
              <a href="{{ dd.pdf_url }}" title="Link to {{ dd.filename }}" target = "_blank">{{dd.filename}}
              </a>
        </p>
      {% endfor %}
      {{ form.as_p }}
{#    <input type="hidden" name="referer" value="{{ form.referer }}">#}
    <button type="submit" id="btn-assign-puc" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" href="{{ form.return_url }}">Cancel</a>
    </form>
</div>

{{ form.media }}
{% endblock %}
