{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(function () {
      var table = $('#products').DataTable({
        "serverSide": true,
        "processing": true,
        "ajax": {
                 "processing": true,
                 "url": "{% url 'p_ajax_url' %}"             },
        "lengthMenu": [ 10, 25, 50, 75, 100 ], // change number of records shown
      dom:"<'row'<'col-md-4 form-inline'l><'col-md-4 form-inline'f><'col-md-4'B>>" +
          "<'row'<'col-sm-12'tr>>" +
          "<'row'<'col-sm-5'i><'col-sm-7'p>>", // order the control divs
      buttons: [{
        extend: 'csv',
        text: 'Download CSV',
        title: 'Products_Factotum',
        exportOptions : {
          columns: [ 0, 1, 2],
          },
        }]
      });
  });

  </script>
{% endblock %}
{% block content %}



<h1 class="col-sm-12">
    <span>Products</span>
</h1>
<table class="table table-striped table-bordered dataTable no-footer table-sm" id="products">
  <thead class="table-primary">
      <th>Title</th>
      <th>Brand Name</th>
      <th>PUC</th>
  </thead>
  <tbody>
  </tbody>
</table>
{% endblock %}

