{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}


<h1><span class="oi oi-wrench" title="factotum" aria-hidden="true"></span>
Product Curation

</h1>
<br>

<table class="table table-sm table-bordered table-striped table-sortable">
  <thead class="table-primary">
      <th>Name</th>
      <th>Uploaded DataDocuments</th>
      <th>Unlinked DataDocuments</th>
      <th>Missing Category</th>
  </thead>
  <tbody>
  {% for data_source in data_sources %}
    <tr>
      <td>
        <a href="{% url "data_source_detail" data_source.id %}" title="Link to {{ data_source.title }}">{{ data_source.title }}</a>
      </td>
      <td>{{ data_source.uploaded }}</td>
      <td>{% if data_source.unlinked %}
            <a class="btn btn-warning btn-sm" role="button" title="delete"
             href="{% url "link_product_list" data_source.id %}">
              <span class="oi oi-link-intact"></span> Create Products for {{ data_source.unlinked }} Document{% if data_source.unlinked > 1 %}s{% endif %}</a>
          {% else %}
            <p class="btn btn-success btn-sm" >All Documents Linked to Products</p>
          {% endif %}


      <td>{{ data_source.no_category }}{% if data_source.no_category %}<a class="btn btn-primary btn-sm float-lg-right" role="button" title="Assign Product Categories"
      href="{% url "category_assignment" data_source.pk %}"><span class="oi oi-link-intact"></span> Assign Product Categories</a>
      {% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
