{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}


<h1 class="col-sm-12"><span class="oi oi-wrench" title="factotum" aria-hidden="true"></span>
Product Curation

</h1>
<br>

<table class="table table-striped table-bordered dataTable no-footer" id="products">
  <thead class="table-primary">
      <th class="text-center">DataSource Name</th>
      <th class="text-center">Uploaded DataDocuments</th>
      <th class="text-center">DataDocuments  <> Products</th>
      <th class="text-center">DataSource Products Missing PUC</th>
  </thead>
  <tbody>
  {% for data_source in data_sources %}
    <tr>
      <td>
        <a href="{% url "data_source_detail" data_source.id %}" title="Link to {{ data_source.title }}">{{ data_source.title }}</a>
      </td>
      <td>{{ data_source.uploaded }}</td>
      <td>{% if data_source.unlinked %}
            <a class="btn btn-warning btn-sm" role="button" title="Create Product"
             href="{% url "link_product_list" data_source.id %}">
              <span class="oi oi-link-intact"></span> Create Products for {{ data_source.unlinked }} Document{% if data_source.unlinked > 1 %}s{% endif %}</a>
          {% else %}
            <button class="btn btn-success btn-sm" disabled>All Documents Linked to Products</button>
          {% endif %}


      <td>{% if data_source.no_category %}<a class="btn btn-danger btn-sm" role="button" title="Assign Product Categories"
      href="{% url "category_assignment" data_source.pk %}"><span class="oi oi-link-intact"></span> {{ data_source.no_category }}</a>
      {% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
{% block js %}
  <script type="text/javascript">
    $(document).ready(function () {
      var table = $('#products').DataTable({
      // "lengthMenu": [ 10, 25, 50, 75, 100 ], // change number of records shown
      "searching": false,
      "columnDefs": [
          {
              "targets": 2,
              "orderable": false
          }
      ],
      dom:"<'row'<'col-md-4 form-inline'l><'col-md-4 form-inline'f>>" +
          "<'row'<'col-sm-12 text-center'tr>>" +
          "<'row'<'col-sm-5'i><'col-sm-7'p>>" // order the control divs
      });
    });
  </script>
{% endblock %}
