{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load proper_paginate %}

{% block title %}
    "{{ results.queryString }}" | {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Chemical Search Results</h1>

    <nav class="navbar navbar-expand-md navbar-custom py-1">
        <ul class="nav navbar-nav navbar-right ml-auto">
            <li class="nav-item {% if 'findchemical' in request.resolver_match.url_name %}active{% endif %}">
                <!-- TODO: the input form should contain the search query string -->
                <form class="search-form-container" action="/findchemical/" method="get" >
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Chemical Search" class="form-control" name="q"
                               id="chemical_search" autocomplete="off" value="{{ results.queryString }}">
                        <div id="selction-ajax"></div>
                    </div>
                </form>
            </li>
        </ul>
    </nav>

    <br>

    <div class="container">
    <div class="row">
        <b>Number of documents matching "{{ results.queryString }}" registered in DSSTox:
            {{ results.matchedDataDocuments }}</b>
    </div>
    <div class="row">
        <ol>
            {% for result in results.matchedRecords%}
                <li><a href="{{ result.get_absolute_url }}">{{  result.title }}</a></li>
            {% endfor %}
        </ol>
    </div>

    <div class="row">
        <b>Number of documents potentially associated with "{{ results.queryString }}":
                {{ results.probableDataDocumentMatches }}</b>
    </div>
    <div class="row">
        <ol>
            {% for result in results.probableRecords%}
                <li><a href="{{ result.get_absolute_url }}">{{  result.title }}</a></li>
            {% endfor %}
        </ol>
    </div>
	</div>

{% endblock %}






