{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load proper_paginate %}

{% block title %}
"{{ q }}" | {{ block.super }}
{% endblock %}

{% block content %}

<div class="col-md-9">
    <ul class="nav nav-tabs" id="searchTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="data-documents-tab" data-toggle="tab" href="#data-documents" role="tab" aria-controls="data-documents" aria-selected="true">Data Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="puc-tab" data-toggle="tab" href="#pucs" role="tab" aria-controls="pucs" aria-selected="false">PUCs</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="data-documents" role="tabpanel" aria-labelledby="data-documents-tab">
            <div class="row pt-1 pb-3">
                <div class="col-sm">
                    <p style="color:gray; font-size: small;">
                        {{ results.data_documents|length }} documents returned in {{ results.time }} seconds.
                    </p>
                </div>
            </div>
            {% for hit in results.data_documents %}
            <div class="row pt-2">
                <div class="col-sm">
                    <h5>
                        <a href="{{ hit.link }}">
                            <span 
                                class="pr-1"
                                data-toggle="tooltip" 
                                data-placement="right"
                                title="{{ hit.title }}"
                            >
                                {{ hit.title|truncatechars:60 }}
                            </span>
                        </a>
                    </h5>
                    {% if hit.num_products == 0 %}
                    <p>No products associated with this document</p>
                    {% elif hit.num_products == 1 %}
                    <p>{{hit.num_products}} product associated with this document</p>
                    {% else %}
                    <p>{{hit.num_products}} products associated with this document</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="tab-pane" id="pucs" role="tabpanel" aria-labelledby="puc-tab">
            <div class="row pt-1 pb-3">
                <div class="col-sm">
                    <p style="color:gray; font-size: small;">
                        {{ results.pucs|length }} PUCs returned in {{ results.time }} seconds.
                    </p>
                </div>
            </div>
            {% for hit in results.pucs %}
            <div class="row pt-2">
                <div class="col-sm">
                    <h5>
                        <a href="{{ hit.link }}">
                            <span 
                                class="pr-1"
                                data-toggle="tooltip" 
                                data-placement="right"
                                title="{{ hit.title }}"
                            >
                                {{ hit.title|truncatechars:60 }}
                            </span>
                        </a>
                    </h5>
                    {% if hit.num_products == 0 %}
                    <p>No products associated with this PUC</p>
                    {% elif hit.num_products == 1 %}
                    <p>{{hit.num_products}} product associated with this PUC</p>
                    {% else %}
                    <p>{{hit.num_products}} products associated with this PUC</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
	<script src="{% static 'js/dashboard/search_results.js' %}"></script>
{% endblock %}