{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load proper_paginate %}

{% block title %}
    "{{ query }}" | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">

<div class="row">
{% if  page_obj.object_list %}
<div class="col-md-3">
        <div>
                <input id="btn-apply-filters" class="btn btn-info btn-lg pull-right" type="submit" value="Apply Filters" onclick="return onFacetChangeApplied();" />
        </div>

        {% if facets.fields.facet_model_name %}
        <dl>
        <dt>Filter by Object Type</dt>
        {% for facet_model_name in facets.fields.facet_model_name %}
            {% if facet_model_name.1 != 0 %}
            <dd>
            <input class="facet" id="{{facet_model_name.0|cut:" "}}" type="checkbox" name="facet_model_name" value="{{ facet_model_name.0 }}" 
            data-toggle="toggle" /> {{ facet_model_name.0 }} ({{ facet_model_name.1 }})
            </dd>
            {% endif %}
        {% endfor %}
        </dl>
        <!-- <div>
        <input class="btn btn-info btn-sm pull-right" type="submit" value="apply filter" onclick="return onFacetChangeApplied();" />
        </div> -->
        {% endif %}


	<h3>Product Filters</h3>
        {% if facets.fields.pucs %}
        <dl>
        <dt>Filter by PUC</dt>
        {% for puc in facets.fields.pucs %}
            {% if puc.1 != 0 %}
            <dd>
            <input class="facet" id="{{puc.0|cut:" "}}" type="checkbox" name="puc" value="{{ puc.0 }}" 
            data-toggle="toggle" /> {{ puc.0 }} ({{ puc.1 }})
            </dd>
            {% endif %}
        {% endfor %}
        </dl>
        <!-- <div>
        <input class="btn btn-info btn-sm pull-right" type="submit" value="apply filter" onclick="return onFacetChangeApplied();" />
        </div> -->
        {% endif %}

        {% if facets.fields.brand_name %}
        <dl>
        <dt>Filter by Brand</dt>
        {% for brand_name in facets.fields.brand_name %}
        {% if brand_name.1 != 0 %}
        <dd>
        <input class="facet" id="{{brand_name.0|cut:" "}}" type="checkbox" name="brand_name" value="{{ brand_name.0 }}" /> {{ brand_name.0 }} ({{ brand_name.1 }})
        </dd>
        {% endif %}
        {% endfor %}
        </dl>
        <!-- <div>
        <input class="btn btn-info btn-sm pull-right" type="submit" value="apply filter" onclick="return onFacetChangeApplied();" />
        </div> -->
        {% endif %}

        {% if facets.fields.source_category %}
        <dl>
        <dt>Filter by Source Category</dt>
        {% for source_category in facets.fields.source_category %}
        {% if source_category.1 != 0 %}
        <dd>
        <input class="facet" id="{{source_category.0|cut:" "}}" type="checkbox" name="source_category" value="{{ source_category.0 }}" /> {{ source_category.0 }} ({{ source_category.1 }})
        </dd>
        {% endif %}
        {% endfor %}
        
        </dl>
        <!-- <div>
        <input class="btn btn-info btn-sm pull-right" type="submit" value="apply filter" onclick="return onFacetChangeApplied();" />
        </div> -->
        {% endif %}

        <h3>Data Document Filters</h3>
        <p><code>Document Type will be a facet: not yet implemented in DataDocument model</code></p>
        <!-- TODO: the doc_type field has not yet been added to the DataDocumentModel -->
        {% if facets.fields.source_type %}
        <dl>
        <dt>Filter by Document Type</dt>
        {% for doc_type in facets.fields.source_type %}
            {% if doc_type.1 != 0 %}
            <dd>
            <input class="facet" id="{{source_type.0|cut:" "}}" type="checkbox" name="source_type" value="{{ source_type.0 }}" 
            data-toggle="toggle" /> {{ source_type.0 }} ({{ source_type.1 }})
            </dd>
            {% endif %}
        {% endfor %}
        </dl>
        <!-- <div>
        <input class="btn btn-info btn-sm pull-right" type="submit" value="apply filter" onclick="return onFacetChangeApplied();" />
        </div> -->
        {% endif %}

</div>
{% endif %}
	<div class="col-md-9">
            <div class="row">
                <div class="col-md-5 col-xs-5">
                      Search result for: <label> {{query}} </label>
               </div>
               <div class="col-md-6 col-xs-6 align-right">
               
                   Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of total 
                    {{ page_obj.paginator.count }}
                    results on page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
               </div>
            </div>    
            <div>
	    {% if  page_obj.object_list %}
                <ol class="row top20">
                    {% for result in page_obj.object_list %}
                        <div class="showcase col-sm-6 col-md-4">
           <h5>{{result.facet_model_name}}</h5>
		   <a href="{{ result.object.get_absolute_url }}">
          <h4 class="{{ result.result_css_class }}">{{result.object.title}}</h4>
       </a>
       <dl>
        {% if  result.pucs %}
        <dd>PUCs:</dd>
        <dt>{{result.pucs}}</dt>
        {% endif %}
        {% if  result.brand_name %}
        <dd>Brand Name:</dd>
        <dt>{{result.brand_name}}</dt>
        {% endif %}
      </dl>
		    </div>
                    {% endfor %}
                </ol>
            </div>

            {% if is_paginated %}
                <ul class="pagination justify-content-center">
                    {% if page_obj.number == 1 %}
                        <li class="disabled page-item"><span class="page-link">⇤</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href={{ request.get_full_path|link_name:1 }}>⇤</a></li>
                    {% endif %}
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href={{ request.get_full_path|link_name:page_obj.previous_page_number }}>&laquo;</a></li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator|proper_paginate:page_obj.number %}
                        {% if page_obj.number == i %}
                            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href={{ request.get_full_path|link_name:i }}>{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href={{ request.get_full_path|link_name:page_obj.next_page_number }}>&raquo;</a></li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                    {% if page_obj.number == paginator.num_pages %}
                        <li class="disabled page-item"><span class="page-link">⇥</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href={{ request.get_full_path|link_name:paginator.num_pages }}>⇥</a></li>
                    {% endif %}
                </ul>
            {% endif %}

        {% else %}
	    <p> Sorry, no result found for the search term  <strong>{{query}} </strong></p>
	{% endif %}
	</div>
</div>
</div>

{% endblock %}






