{% for hit in result.hits %}
<div class="row pt-3 pb-3 border-bottom border-top">
    <div class="col-sm">
        <h5>
            <a href="{% url 'puc_detail' hit.id %}">
                <span
                    class="pr-1"
                    data-toggle="tooltip" 
                    data-placement="top"
                    title="General Category"
                >
                {{ hit.source.puc_gencat }} -- 
                </span>
                {% if hit.source.puc_prodfam %}
                <span
                    class="pr-1"
                    data-toggle="tooltip" 
                    data-placement="top"
                    title="Product Family"
                >
                {{ hit.source.puc_prodfam }} -- 
                </span>
                {% endif %}
                {% if hit.source.puc_prodtype %}
                <span
                    class="pr-1"
                    data-toggle="tooltip" 
                    data-placement="top"
                    title="Product Type"
                >
                {{ hit.source.puc_prodtype }}
                </span>
                {% endif %}
            </a>
        </h5>
        {% for key, value in hit.highlights.items %}
        {% if key != 'General category' and key != 'Product family' and key != 'Product type' %}
        <div class="row">
            <div class="col-lg-3 border-right text-center">
                <small class="text-muted">{{ key }}:</small>
            </div>
            <div class="col-lg-9">
                {% autoescape off %}
                <small class="text-muted">{{ value|join:'... ' }}</small>
                {% endautoescape %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% if hit.chemsearch %}
        <div class="col-lg-9">
            <small class="text-muted ml-3">
                Number of products related to chemical: {{ hit.num_product }}</small>                     
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}