{% load widget_tweaks %}

<div class="card mt-2 big-bottom" id="chem-{{ form.instance.pk }}">
    {% if form.instance.dsstox %}
    <div class="row">
        <div class="col-6 text-center">
                <small class="text-muted">
                        <a  title="go to substance"
                        href={% url 'dsstox_lookup' form.instance.dsstox.sid %}>
                    True Name: {{ form.instance.dsstox.true_chemname|truncatechars:45 }}
                    </a>
                </small>
        </div>
        <div class="col-6 text-center">
                <small class="text-muted">
                    True CAS: {{ form.instance.dsstox.true_cas }}
                </small>
        </div>            
    </div>
    {% endif %}
    <div class="card-body shadow rounded">
        <div class="card-title border-bottom">
            <h3 class="d-inline"
                title="{{ form.raw_chem_name.value }}"
                data-toggle="tooltip"
                data-placement="bottom">
                {{ form.raw_chem_name.value|truncatechars:45 }}
            </h3>
            {% if doc.detail_page_editable %}
            <div class="btn-group btn-group-sm float-right">
                <a class="btn btn-success"
                    title="edit"
                    href=""
                    role="button"
                    data-toggle="modal"
                    data-target="#chem-edit-{{ forloop.counter }}">
                    <span class="fa fa-fs fa-edit"></span>
                </a>
                <a class="btn btn-danger"
                    title="delete"
                    href=""
                    role="button"
                    data-toggle="modal"
                    data-target="#chem-delete-{{ form.instance.pk }}">
                    <span class="fa fa-fs fa-trash"></span>
                </a>
            </div>
            {% endif %}
            <div>
                <h4 class="d-inline"
                    title="raw cas">
                    {{ form.raw_cas.value }}
                </h4>
                {% if form.instance.dsstox %}
                
                    <h4 class="float-right">
                        <a href="https://comptox.epa.gov/dashboard/dsstoxdb/results?search={{ form.instance.dsstox.sid }}"
                            target='_blank'>
                            {{ form.instance.dsstox.sid }}
                        </a>
                    </h4>

                {% endif %}
            </div>
        </div>
        <!-- card dl -->
        <div class="card-text">
            {% if doc.data_group.group_type.code == 'HP' %}
                <dl class="mb-0 inline-flex">
                    {% for field in form.visible_fields %}
                    <dt>
                        <u>
                            {{ field.label }}
                        </u>
                    </dt>
                    <dd class="pl-4 mb-0"
                        id={{ field.id_for_label }}>
                        {% if field.value %}
                            {% if field.field.widget.input_type == 'select' %}
                                {% render_field field|attr:"disabled" class="form-control col-3" %}
                            {% else %}
                                {{ field.value }}
                            {% endif %}
                        {% else %}
                        <small class="pl-3 pr-3">
                            <i class="text-muted">
                                ...No value
                            </i>
                        </small>
                        {%  endif %}
                    </dd>
                    {% endfor %}
                </dl>
            {% else %}
                {% if doc.data_group.group_type.code == 'CO' %}
                    <h4 class="text-center">Raw Compostion</h4>
                {% endif %}
                <ul>
                {% for field in form.visible_fields %}
                    {% if forloop.counter > 2%}
                    <li class="">
                        <b><u>{{ field.label }}</u></b>
                        <p class="">
                            {% if field.field.widget.input_type == 'select' %}
                                {% if field.name == 'unit_type' %}
                                    {{ form.instance.unit_type }}
                                {% elif field.name == 'weight_fraction_type' %}
                                    {{ form.instance.weight_fraction_type }}
                                {% endif %}
                            {% else %}
                                {{ field.value }}
                            {% endif %}
                        </p>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
