{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}Data Doc {{ doc.id }}: {{ doc.title }}{% endblock %}

{% block content %}
    <div class="row" style="display: flex; align-items: center;">
        <div class="col-lg-1" style="padding-left:30px;">
            <a href="{{ doc.pdf_url }}" title="Link to {{ doc.get_abstract_filename }}" target="_blank">
            <span class="oi oi-file" style="font-size: 50px"></span></a>
        </div>
        <div class="col-lg-10">
            <div class="row col-lg-12">
                <h1>{{ doc.title }}</h1>
            </div>
            {% if doc.subtitle %}
                <div class="row col-lg-12">
                    <h3>{{ doc.subtitle }}</h3>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-1">
            <div class="btn-group float-lg-right" role="group" aria-label="Data Document Modification">
                <a class="btn btn-success btn-sm" role="button" title="edit" href="{% url 'data_document_edit' doc.id %}">
                    <span class="oi oi-pencil"></span></a>
                <a class="btn btn-danger btn-sm" role="button" title="delete" href="{% url 'data_document_delete' doc.id %}">
                    <span class="oi oi-trash"></span></a>
            </div>
        </div>
    </div>
    <dl class="row col-lg-12">
        <dt class="col-lg-3">Data Source</dt>
        <dd class="col-lg-9">
            <a title="Data Source"
               href="{% url 'data_source_detail' doc.data_group.data_source.id %}"> {{ doc.data_group.data_source }}
            </a>
        </dd>
        <dt class="col-lg-3">Data Group</dt>
        <dd class="col-lg-9">
            <a title="Data Group"
               href="{% url 'data_group_detail' doc.data_group.id %}"> {{ doc.data_group }}
            </a>
        </dd>
        <dt class="col-lg-3">Data Group Type</dt>
        <dd class="col-lg-9">
            {{ doc.data_group.group_type }}
        </dd>
        <dt class="col-lg-3">Data Group Type Code</dt>
        <dd class="col-lg-9">
            {{ doc.data_group.group_type.code }}
        </dd>
        <dt class="col-lg-3">Data Document Type</dt>
        <dd class="col-lg-9">
            {{ doc.document_type }}
        </dd>
        <dt class="col-lg-3">Download Script</dt>
        <dd class="col-lg-9">
            {% if doc.data_group.download_script %}
                <a title="Data Group"
                   href="{{ doc.data_group.download_script.url }}"> {{ doc.data_group.download_script }}
                </a>
            {% else %}
                None
            {% endif %}
        </dd>
        {% if doc.organization %}
            <dt class="col-lg-3">Organization</dt>
            <dd class="col-lg-9">
                {{ doc.organization }}
            </dd>
        {% endif %}

        <dt class="col-lg-3">Note</dt>
        <dd class="col-lg-9">
            {{ doc.note }}
        </dd>
        {% if doc.url %}
            <dt class="col-lg-3">Url</dt>
            <dd class="col-lg-9">
                <a title="URL"
                    href="{{ doc.url }}">{{ doc.url }}
                </a>
             </dd>
        {% endif %}
    </dl>

    <div class="row col-lg-12">
        <div class="col-lg-6 col-md-6 extracted-text">
            <div class="card-header">
                <h4>Extracted Text
                    {% if edit %}
                        <a href="" id="btn-add-or-edit-extracted-text" class="btn btn-primary btn-sm float-right" role="button" title="add extracted text"
                        data-toggle="modal"
                        data-target="#extextModal">
                        {% if doc.extracted %}
                            <span class="oi oi-pencil">
                        {% else %}
                            <span class="oi oi-plus">
                        {% endif %}</span> </a>
                    {% endif %}
                </h4>
                <!-- Modal -->
                <div class="modal fade" id="extextModal" tabindex="-1" role="dialog" aria-labelledby="extextModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="extextModalLabel">Add or Edit Extracted Text</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{% url 'extracted_text_edit' doc.id %}" method="post">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        {% include 'core/bs4_form.html' with form=edit_text_form colspan='col-6'%}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="extracted-text-modal-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button id="extracted-text-modal-save" type="submit" value="Note" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body border container">
                {% if extracted_text %}
                <div class="row wrap">
                    <div class="pl-1 col-6">
                        <dl>
                            <dt>Product name</dt>
                            <dd>
                                {{ extracted_text.prod_name }}
                            </dd>
    
                            <dt>Doc date</dt>
                            <dd>
                                {{ extracted_text.doc_date }}
                            </dd>
    
                            <dt>Rev num</dt>
                            <dd>
                                {{ extracted_text.rev_num }}
                            </dd>

                            {% if extracted_text.cat_code %}
                                <dt>Cat code</dt>
                                <dd>
                                    {{ extracted_text.cat_code }}
                                </dd>
                            {% endif %}

                            {% if extracted_text.description_cpcat %}
                                <dt>CPCat cassette</dt>
                                <dd>
                                    {{ extracted_text.description_cpcat }}
                                </dd>
                            {% endif %}

                            {% if extracted_text.cpcat_code %}
                                <dt>ACToR snaid</dt>
                                <dd>
                                    {{ extracted_text.cpcat_code }}
                                </dd>
                            {% endif %}

                            {% if extracted_text.cpcat_sourcetype %}
                                <dt>CPCat source</dt>
                                <dd>
                                    {{ extracted_text.cpcat_sourcetype }}
                                </dd>
                            {% endif %}

                            <dt>Extraction script</dt>
                            <dd>
                                <a href="{{ extracted_text.extraction_script.url| default_if_none:'' }}" target="_blank">
                                    {{ extracted_text.extraction_script.title }}
                                </a>
                            </dd>
                            <dt>QA approved</dt>
                            <dd>{{ extracted_text.qa_checked | yesno | capfirst }}
                                {% if not extracted_text.qa_checked %}
                                    <div class="btn-group float-lg-right" role="group">
                                        <a class="btn btn-primary btn-sm" role="button" title="QA"
                                            href="{% url "extracted_text_qa" extracted_text.pk %}">QA</a>
                                    </div>
                                {% endif %}
                            </dd>
                        </dl>
                    </div>
                    {% if doc.data_group.is_hh %}
                        <div class="col-6">
                            <dl>
                                <dt>HH Report No.</dt>
                                <dd class="hh-report-no">
                                    {{ extracted_text.hhe_report_number }}
                                </dd>
    
                                <dt>Study Location</dt>
                                <dd>
                                    {{ extracted_text.study_location }}
                                </dd>
    
                                <dt>NAICS Code</dt>
                                <dd>
                                    {{ extracted_text.naics_code }}
                                </dd>
                                <dt>Sample Date</dt>
                                <dd>
                                    {{ extracted_text.sampling_date }}
                                </dd>
    
                                <dt>Population Gender</dt>
                                <dd>
                                    {{ extracted_text.get_population_gender_display }}
                                </dd>
    
                                <dt>Population Age</dt>
                                <dd>
                                    {{ extracted_text.population_age }}
                                </dd>

                                <dt>Population Other</dt>
                                <dd>
                                    {{ extracted_text.population_other }}
                                </dd>
    
                                <dt>Occupation</dt>
                                <dd>
                                    {{ extracted_text.occupation }}
                                </dd>

                                <dt>Facility</dt>
                                <dd>
                                    {{ extracted_text.facility }}
                                </dd>
    
                            </dl>   
                        </div>
                    {% endif %}
                </div>

                {% else %}
                    <div>No Extracted Text exists for this Data Document 
                    </div>
                {% endif %}
            </div>
        </div>
        {% if not doc.data_group.is_habits_and_practices %}
            <!-- add products -->
            <div class="col-lg-6 col-md-6">
                <div class="card-header">
                    <h4 class="d-inline">Products</h4>
                    <a class="btn btn-md btn-warning float-right d-inline" href="{% url 'link_product_form' doc.pk %}"
                       role="button">Create New Product</a>
                </div>
                <div class="card-body border container">
                    <ol>
                        {% for product in doc.products.all %}
                            <li>
                                <a href="{% url "product_detail" product.pk %}">{{ product }}</a><br>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        {% endif %}
    </div>
    <br>
    {% if detail_formset %}
        <div class="row col-lg-12 card-header">
            <h4>{{ doc.data_group.group_type }} detail</h4>
            {% if edit %}
            <button onclick="document.getElementById('detail_formset').submit();"
                    class="btn btn-primary ml-auto" 
                    role="button">Save {{ doc.data_group.group_type }} edits</button>
            {% endif %}
        </div>

        {% if list_presence_tag_form %}
        <div class="card card-body col-10 mt-2 mx-auto">
        <form class="form-inline" action="{% url 'save_list_presence_tag_form' doc.id %}" method="post">
            {% csrf_token %}
                {{ list_presence_tag_form }}
              <button class="btn btn-primary" type="submit">Save</button>
        </form>
        </div>
        {% endif %}

        <form id="detail_formset" action="{% url 'extracted_child_edit' doc.id %}" method="post">
        {% csrf_token %}
        {{ detail_formset.management_form }}
        <div class="card-body">
            <div class="row">
                {% for form in detail_formset.forms %}
                    <div class="col-lg-6 col-md-6" style="padding-top: 30px;">
                        <div class="card bg-light">
                            <div class="card-body">
                                {% if form.errors %}
                                    <div class="form-group alert alert-danger" role="alert">
                                        <span class="alert-danger">{{ form.errors }}</span>
                                    </div>
                                {% endif %}
                                {{ form.rawchem_ptr.as_hidden }}
                                <dl class="row col-lg-12">
                                    {% for field in form.visible_fields %}
                                        {% if "Unit" in field.label_tag %}
                                            <dt class="col-lg-6">Unit type (required):</dt>
                                        {% else %}
                                            <dt class="col-lg-6">{{ field.label_tag }}</dt>
                                        {% endif %}
                                        <dd class="col-lg-6 small form-group {% if field.errors %}alert-danger{% endif %}"
                                            style="max-width: 100%;max-height: 100%;">
                                            {{ field }}
                                        </dd>
                                    {% endfor %}
                                </dl>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
    {% endif %}

{{ list_presence_tag_form.media }}
{% endblock %}
