{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}PUC {{ puc.id }}: {{ puc }}{% endblock %}

{% block content %}
    <h1>
        <span id="puc_gen_cat">{{ puc.gen_cat }}</span>
    </h1>
    <h2>
        <span id="puc_prod_fam">{{ puc.prod_fam }}</span>
        <span id="puc_prod_type">{% if puc.prod_type %}/ {{ puc.prod_type }}{% endif %}</span>
    </h2>

    <dl class="row pt-4">
        <dt class="col-1">Kind</dt>
        <dd class="col-11" id="puc_kind">{{ puc.get_kind_display }}</dd>
        <dt class="col-1">Description</dt>
        <dd class="col-11" id="puc_description"> {{ puc.description }}</dd>
    </dl>

    <div class="row pt-4">
        <div class="col-6" id="assumed_attributes">
            <h4>Assumed Attributes</h4>
            {% if puc.get_assumed_tags|length > 1 %}
                {% for tag in puc.get_assumed_tags %}
                    <button type="button"
                            class="flex-1 mb-1 ml-1 btn btn-primary"
                            data-tag-name="{{ tag.name }}"
                            {% if tag.definition %}
                            title="{{ tag.definition }}"
                            {% else %}
                            title="No definition"
                            {% endif %}
                            disabled>
                        {{ tag.name }}
                    </button>
                {% endfor %}
            {% else %}
                No assumed attributes are associated with this PUC
            {% endif %}
        </div>
        <div class="col-6" id="allowed_attributes">
            <h4>Allowed Attributes</h4>
            {% if puc.get_allowed_tags|length > 1 %}
                {% for tag in puc.get_allowed_tags %}
                    <button type="button"
                            class="flex-1 mb-1 ml-1 btn btn-primary"
                            data-tag-name="{{ tag.name }}"
                            {% if tag.definition %}
                            title="{{ tag.definition }}"
                            {% else %}
                            title="No definition"
                            {% endif %}
                            disabled>
                        {{ tag.name }}
                    </button>
                {% endfor %}
            {% else %}
                No allowed attributes are associated with this PUC
            {% endif %}
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-6" id="puc_stats">
            <h4>Additional Statistics</h4>
            <dl class="row">
                <dt class="col-6">Products</dt>
                <dd class="col-6"><a href="#products">{{ puc.product_count }}</a></dd>
                <dt class="col-6">Cumulative Products</dt>
                <dd class="col-6">{{ puc.cumulative_product_count }}</dd>
                <dt class="col-6">Curated Chemicals</dt>
                <dd class="col-6">{{ puc.curated_chemical_count }}</dd>
                <dt class="col-6">Documents</dt>
                <dd class="col-6">{{ puc.document_count }} </dd>
            </dl>
        </div>
        <div class="col-6" id="taxonomies">
            <h4>Linkages to Other Taxonomies</h4>
            {% if linked_taxonomies|length > 1 %}
                <dl class="row">
                    {% for taxonomy in linked_taxonomies %}
                        <dt class="col-4">
                            <button class="btn btn-clear text-left" data-toggle="tooltip" data-placement="right"
                                    title=""
                                    data-original-title="{{ taxonomy.source_description }}">{{ taxonomy.source_title }}:
                            </button>
                        </dt>
                        <dd class="col-8">
                            <button class="btn btn-clear text-left" data-toggle="tooltip" data-placement="right"
                                    title=""
                                    data-original-title="{{ taxonomy.description }}">{{ taxonomy.title }}</button>
                        </dd>
                    {% endfor %}
                </dl>
            {% else %}
                <span>No taxonomies are linked to this PUC</span>
            {% endif %}
        </div>
    </div>

    <div class="row col-12 pt-4">
        <h4>Products Assigned To "{{ puc }}"</h4>
        <table class="table table-striped table-bordered dataTable no-footer table-sm" 
            data-puc="{{ puc.id }}"
            id="products">
            <thead class="table-primary">
            <tr>
                <th>Title</th>
                <th>Brand Name</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="row col-12 pt-4">
        {% if referer %}
            <a class="btn btn-secondary" href="{{ referer }}">Back</a>
        {% endif %}
    </div>

{% endblock %}

{% block css %}
    <style>
        #products_wrapper {
            width: 100%;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{% static 'js/dashboard/puc_detail.js' %}"></script>
{% endblock %}
