{% extends 'core/base.html' %}
{% block title %}Product Use Categories (PUCs){% endblock %}
{% block content %}

    <h1>
        <span>Product Use Categories (PUCs)</span>
    </h1>

    <table class="table table-sm table-bordered table-striped">
        <thead class="table-primary">
        <th>Gen Cat</th>
        <th>Prod Fam</th>
        <th>Prod Type</th>
        <th>Product Count</th>
        <th>View Detail</th>
        </thead>
        <tbody>
        {% for puc in pucs %}
            <tr>
                <td>{{ puc.gen_cat }}</td>
                <td>{{ puc.prod_fam }}</td>
                <td>{{ puc.prod_type }}</td>
                <td>{{ puc.num_products }}</td>
                <td>&nbsp;<a class="btn btn-success btn-sm" role="button" title="View PUC Detail"
                           href="{% url 'puc_detail' pk=puc.pk %}">
                            <span class="oi oi-pencil"></span>&nbsp; </a>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
