{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}PUC {{ puc.id }}: {{ puc }}{% endblock %}

{% block content %}
    <h1>
        <span id="puc_gen_cat">{{ puc.gen_cat }}</span>
    </h1>
    <h2>
        <span id="puc_prod_fam">{{ puc.prod_fam }}</span>
        <span id="puc_prod_type">{% if puc.prod_type %}/ {{ puc.prod_type }}{% endif %}</span>
    </h2>
    <br>

    <dl class="row">
        <dt class="col-1">Kind</dt>
        <dd class="col-11" id="puc_kind">{{ puc.get_kind_display }}</dd>
        <dt class="col-1">Description</dt>
        <dd class="col-11" id="puc_description"> {{ puc.description }}</dd>
    </dl>

    <div class="row">
        <div class="col-auto" id="assumed_attributes">
        <h4>Assumed Attributes</h4>
            {% if puc.get_assumed_tags|length > 1 %}
                {% for tag in puc.get_assumed_tags %}
                <button type="button" 
                    class="flex-1 mb-1 ml-1 btn btn-primary"
                    data-tag-name="{{ tag.name }}"
                    {% if tag.definition %}
                        title="{{ tag.definition }}"
                    {% else %}
                        title="No definition"
                    {% endif %}
                    disabled>
                    {{ tag.name }}
                </button>
                {% endfor %}
            {% else %}
                No assumed attributes are associated with this PUC
            {% endif %}
        </div>
        <div class="col-6" id="allowed_attributes">
            <h4>Allowed Attributes</h4>
            {% if puc.get_allowed_tags|length > 1 %}
                {% for tag in puc.get_allowed_tags %}
                <button type="button" 
                    class="flex-1 mb-1 ml-1 btn btn-primary"
                    data-tag-name="{{ tag.name }}"
                    {% if tag.definition %}
                        title="{{ tag.definition }}"
                    {% else %}
                        title="No definition"
                    {% endif %}
                    disabled>
                    {{ tag.name }}
                </button>
                {% endfor %}
            {% else %}
                No allowed attributes are associated with this PUC
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-6" id="puc_stats">
            {{ puc.product_count }} Products<br>
            {{ puc.cumulative_product_count }} Cumulative Products<br>
            {{ puc.curated_chemical_count }} Curated Chemicals<br>
            {{ puc.document_count }} Documents
        <br><br><br>
        {% if referer %}
            <a class="btn btn-secondary" href="{{ referer }}">Back</a>
        {%  endif %}
        </div>
    </div>
{% endblock %}
