{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}
    <h1><span class="oi oi-wrench" title="factotum" aria-hidden="true"></span>
Welcome to Factotum</h1>
    <br>

    <div class="card-deck">
      <div class="card text-center bg-light">
          <div class="card-body">
            <h3 class="card-title text-muted">Sources</h3>
            <div class="card-text font-weight-bold display-4">{{ source_count | intword}} </div>
          </div>
      </div>
      <div class="card text-center bg-light">
          <div class="card-body">
            <h3 class="card-title text-muted">Groups</h3>
            <div class="card-text font-weight-bold display-4">{{ group_count | intword}} </div>
          </div>
      </div>
      <div class="card text-center bg-light">
          <div class="card-body">
              <h3 class="card-title text-muted">Documents</h3>
              <div class="card-text font-weight-bold display-4">{{ document_count | intword}} </div>
          </div>

      </div>
    </div>

{% endblock %}
