{% extends 'core/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
    <h1 class="col-sm-12 p-2"><span class="fa fa-wrench" title="factotum" aria-hidden="true"></span>
        Welcome to Factotum

    </h1>

    <div class="card-deck">
        <div class="card text-center bg-light">
            <div class="card-body">
                <h3 class="card-title text-muted">Sources</h3>
                <div class="card-text font-weight-bold display-4">{{ datasource_count | intword }} </div>
            </div>
        </div>
        <div class="card text-center bg-light">
            <div class="card-body">
                <h3 class="card-title text-muted">Groups</h3>
                <div class="card-text font-weight-bold display-4">{{ datagroup_count | intword }} </div>
            </div>
        </div>
        <div class="card text-center bg-light">
            <div class="card-body">
                <h3 class="card-title text-muted">Documents</h3>
                <div class="card-text font-weight-bold display-4">{{ datadocument_count | intword }} </div>
            </div>
        </div>
        <div class="card text-center bg-light">
            <div class="card-body">
                <h3 class="card-title text-muted">Documents With Extracted Text</h3>
                <div class="card-text font-weight-bold display-4">{{ datadocument_with_extracted_text_percent | intword }}%</div>
            </div>
        </div>
    </div>
    <div class="card-deck pt-2 mt-2">
        <div class="card text-center bg-light">
            <div class="card-body">
                <h3 class="card-title text-muted">Products</h3>
                <div class="card-text font-weight-bold display-4">{{ product_count | intword }} </div>
            </div>
        </div>
        <div class="card text-center bg-light">
            <div class="card-body">
                <h3 class="card-title text-muted">Products Linked To PUC</h3>
                <div name="product_with_puc_count"
                     class="card-text font-weight-bold display-4">{{ product_with_puc_count | intword }} </div>
            </div>
        </div>
        <div class="card text-center bg-light">
            <div class="card-body">
                <h3 class="card-title text-muted">Extracted Chemicals</h3>
                <div class="card-text font-weight-bold display-4">{{ chemical_count | intword }}</div>
            </div>
        </div>
        <div class="card text-center bg-light">
            <div class="card-body">
                <h3 class="card-title text-muted">DSS Tox Chemicals</h3>
                <div class="card-text font-weight-bold display-4" name='dsstox'>{{ dss_tox_count | intword }}</div>
            </div>
        </div>
    </div>

    <p></p>
    <h4>Documents Uploaded By Date</h4>
    <div id="datadocument_count_by_date_lineChart">
        <svg style="height:350px;width:100%;overflow:visible"></svg>
    </div>

    <p></p>
    <h4>Documents Uploaded By Month</h4>
    <div id="datadocument_count_by_month_barchart">
        <svg style="height:350px;width:100%;overflow:visible"></svg>
    </div>

    <p></p>
    <h4>Products Linked to PUC By Month</h4>
    <div id="product_with_puc_count_by_month_barchart">
        <svg style="height:350px;width:100%;overflow:visible"></svg>
    </div>


    <div class="container">
        <div class="row">
            <h4>Products Linked to PUCs</h4>
            <div class="btn-group ml-auto p-1 mr-5" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" id="split">Split</button>
                <button type="button" class="btn btn-secondary" id="combine">Combine</button>
            </div>
        </div>
        <div class="bubble-chart" id="chart">
            <svg></svg>
        </div>
    </div>



{% endblock %}

{% block css %}
    <!-- NVD3 CSS -->
    <link rel="stylesheet" href="{% static "css/nv.d3.css" %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/d3_rick.min.js' %}"></script>
    <script src="{% static 'js/d3.js' %}"></script>
    <script src="{% static 'js/nv.d3.js' %}"></script>
    <script src="{% static 'js/dashboard/index.js' %}"></script>
    <script src="{% static 'js/bubble_chart.js' %}"></script>
    <script>
        product_with_puc_count_by_month = [
            {
                key: "Products Linked to PUC",
                values: [
                    {% for item in product_with_puc_count_by_month %}
                        {
                            "label": '{{ item.puc_assigned_month | date:"M Y" }}',
                            "value": {{ item.product_count }}
                        },
                    {% endfor %}
                ]
            }
        ];

        datadocument_count_by_month = [
            {
                key: "Documents Uploaded",
                values: [
                    {% for item in datadocument_count_by_month %}
                        {
                            "label": '{{ item.upload_month | date:"M Y" }}',
                            "value": {{ item.document_count }}
                        },
                    {% endfor %}
                ]
            }
        ];


        datadocument_count_by_date = [
            {
                'color': 'blue',
                'values': [
                    {% for item in datadocument_count_by_date.all %}
                        {
                            'y': {{ item.document_count }},
                            'x': '{{ item.upload_date }}'
                        },
                    {% endfor %}
                ],
                'key': 'All',
                'yAxis': '0'
            }
        ];


        d3.csv("{% url 'download_PUCs' %}?bubbles=True", function (error, data) {
            if (error) {
                console.error('Error getting or parsing the data.');
                throw error;
            }
            // selection.datum() returns the bound datum for the first element in the selection and
            //  doesn't join the specified array of data with the selected elements
            var chart = bubbleChart(1080, 500);
            d3.select('#chart').datum(data).call(chart);
        });

    </script>
{% endblock %}
